@import "variables"

@font-face
  font-family 'Aicon'
  src url(icomoon-font-path + '/Aicon.ttf?75b0db') format('truetype'), url(icomoon-font-path + '/Aicon.woff?75b0db') format('woff'), url(icomoon-font-path + '/Aicon.svg?75b0db#Aicon') format('svg')
  font-weight normal
  font-style normal

.ic
  font-family 'Aicon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ic-airplay
  &:before
    content ic-airplay
.ic-alarm-off
  &:before
    content ic-alarm-off
.ic-alarm-on
  &:before
    content ic-alarm-on
.ic-alert
  &:before
    content ic-alert
.ic-align-bottom
  &:before
    content ic-align-bottom
.ic-align-h-center
  &:before
    content ic-align-h-center
.ic-align-left
  &:before
    content ic-align-left
.ic-align-right
  &:before
    content ic-align-right
.ic-align-top
  &:before
    content ic-align-top
.ic-align-v-center
  &:before
    content ic-align-v-center
.ic-anchor
  &:before
    content ic-anchor
.ic-angle-brakets
  &:before
    content ic-angle-brakets
.ic-app
  &:before
    content ic-app
.ic-approval
  &:before
    content ic-approval
.ic-arrow-angle-down
  &:before
    content ic-arrow-angle-down
.ic-arrow-angle-left
  &:before
    content ic-arrow-angle-left
.ic-arrow-angle-mini-down
  &:before
    content ic-arrow-angle-mini-down
.ic-arrow-angle-mini-left
  &:before
    content ic-arrow-angle-mini-left
.ic-arrow-angle-mini-right
  &:before
    content ic-arrow-angle-mini-right
.ic-arrow-angle-mini-up
  &:before
    content ic-arrow-angle-mini-up
.ic-arrow-angle-right
  &:before
    content ic-arrow-angle-right
.ic-arrow-angle-up
  &:before
    content ic-arrow-angle-up
.ic-arrow-circle-angle-down
  &:before
    content ic-arrow-circle-angle-down
.ic-arrow-circle-angle-left
  &:before
    content ic-arrow-circle-angle-left
.ic-arrow-circle-angle-right
  &:before
    content ic-arrow-circle-angle-right
.ic-arrow-circle-angle-thin-down
  &:before
    content ic-arrow-circle-angle-thin-down
.ic-arrow-circle-angle-thin-left
  &:before
    content ic-arrow-circle-angle-thin-left
.ic-arrow-circle-angle-thin-right
  &:before
    content ic-arrow-circle-angle-thin-right
.ic-arrow-circle-angle-thin-up
  &:before
    content ic-arrow-circle-angle-thin-up
.ic-arrow-circle-angle-up
  &:before
    content ic-arrow-circle-angle-up
.ic-arrow-circle-fat-down
  &:before
    content ic-arrow-circle-fat-down
.ic-arrow-circle-fat-left
  &:before
    content ic-arrow-circle-fat-left
.ic-arrow-circle-fat-right
  &:before
    content ic-arrow-circle-fat-right
.ic-arrow-circle-fat-up
  &:before
    content ic-arrow-circle-fat-up
.ic-arrow-circle-linear-down
  &:before
    content ic-arrow-circle-linear-down
.ic-arrow-circle-linear-left
  &:before
    content ic-arrow-circle-linear-left
.ic-arrow-circle-linear-right
  &:before
    content ic-arrow-circle-linear-right
.ic-arrow-circle-linear-up
  &:before
    content ic-arrow-circle-linear-up
.ic-arrow-double-down
  &:before
    content ic-arrow-double-down
.ic-arrow-double-left
  &:before
    content ic-arrow-double-left
.ic-arrow-double-right
  &:before
    content ic-arrow-double-right
.ic-arrow-double-up
  &:before
    content ic-arrow-double-up
.ic-arrow-fat-down
  &:before
    content ic-arrow-fat-down
.ic-arrow-fat-left
  &:before
    content ic-arrow-fat-left
.ic-arrow-fat-right
  &:before
    content ic-arrow-fat-right
.ic-arrow-fat-up
  &:before
    content ic-arrow-fat-up
.ic-arrow-head-down
  &:before
    content ic-arrow-head-down
.ic-arrow-head-left
  &:before
    content ic-arrow-head-left
.ic-arrow-head-right
  &:before
    content ic-arrow-head-right
.ic-arrow-head-up
  &:before
    content ic-arrow-head-up
.ic-arrow-linear-down
  &:before
    content ic-arrow-linear-down
.ic-arrow-linear-left
  &:before
    content ic-arrow-linear-left
.ic-arrow-linear-right
  &:before
    content ic-arrow-linear-right
.ic-arrow-linear-rounded-down
  &:before
    content ic-arrow-linear-rounded-down
.ic-arrow-linear-rounded-left
  &:before
    content ic-arrow-linear-rounded-left
.ic-arrow-linear-rounded-right
  &:before
    content ic-arrow-linear-rounded-right
.ic-arrow-linear-rounded-up
  &:before
    content ic-arrow-linear-rounded-up
.ic-arrow-linear-up
  &:before
    content ic-arrow-linear-up
.ic-arrow-long-down
  &:before
    content ic-arrow-long-down
.ic-arrow-long-eft
  &:before
    content ic-arrow-long-eft
.ic-arrow-long-right
  &:before
    content ic-arrow-long-right
.ic-arrow-long-up
  &:before
    content ic-arrow-long-up
.ic-arrow-triangle-down
  &:before
    content ic-arrow-triangle-down
.ic-arrow-triangle-left
  &:before
    content ic-arrow-triangle-left
.ic-arrow-triangle-right
  &:before
    content ic-arrow-triangle-right
.ic-arrow-triangle-up
  &:before
    content ic-arrow-triangle-up
.ic-article
  &:before
    content ic-article
.ic-baby
  &:before
    content ic-baby
.ic-baby-buggy
  &:before
    content ic-baby-buggy
.ic-badge
  &:before
    content ic-badge
.ic-badge-free
  &:before
    content ic-badge-free
.ic-badge-premium
  &:before
    content ic-badge-premium
.ic-badge-super
  &:before
    content ic-badge-super
.ic-badge-ultimate
  &:before
    content ic-badge-ultimate
.ic-balance
  &:before
    content ic-balance
.ic-bar-code
  &:before
    content ic-bar-code
.ic-bell
  &:before
    content ic-bell
.ic-bike
  &:before
    content ic-bike
.ic-block-spacing
  &:before
    content ic-block-spacing
.ic-blur
  &:before
    content ic-blur
.ic-bolt
  &:before
    content ic-bolt
.ic-book-closed
  &:before
    content ic-book-closed
.ic-bookmark
  &:before
    content ic-bookmark
.ic-bookmarks
  &:before
    content ic-bookmarks
.ic-book-open
  &:before
    content ic-book-open
.ic-books
  &:before
    content ic-books
.ic-boost
  &:before
    content ic-boost
.ic-box
  &:before
    content ic-box
.ic-braces
  &:before
    content ic-braces
.ic-brakets
  &:before
    content ic-brakets
.ic-briefcase
  &:before
    content ic-briefcase
.ic-brightness-high
  &:before
    content ic-brightness-high
.ic-brightness-low
  &:before
    content ic-brightness-low
.ic-brush
  &:before
    content ic-brush
.ic-brush-big
  &:before
    content ic-brush-big
.ic-bug
  &:before
    content ic-bug
.ic-bulb
  &:before
    content ic-bulb
.ic-cake
  &:before
    content ic-cake
.ic-calculator
  &:before
    content ic-calculator
.ic-calendar
  &:before
    content ic-calendar
.ic-camcoder
  &:before
    content ic-camcoder
.ic-camcoder-off
  &:before
    content ic-camcoder-off
.ic-camera
  &:before
    content ic-camera
.ic-camera-off
  &:before
    content ic-camera-off
.ic-car
  &:before
    content ic-car
.ic-card-back
  &:before
    content ic-card-back
.ic-card-front
  &:before
    content ic-card-front
.ic-card-horizontal
  &:before
    content ic-card-horizontal
.ic-card-vertical
  &:before
    content ic-card-vertical
.ic-carousel
  &:before
    content ic-carousel
.ic-check
  &:before
    content ic-check
.ic-checkbox-checked
  &:before
    content ic-checkbox-checked
.ic-checkbox-empty
  &:before
    content ic-checkbox-empty
.ic-checkbox-full-checked
  &:before
    content ic-checkbox-full-checked
.ic-checkbox-half-checked
  &:before
    content ic-checkbox-half-checked
.ic-check-double
  &:before
    content ic-check-double
.ic-check-single
  &:before
    content ic-check-single
.ic-city
  &:before
    content ic-city
.ic-clear-format
  &:before
    content ic-clear-format
.ic-clipboard
  &:before
    content ic-clipboard
.ic-clipboard-in
  &:before
    content ic-clipboard-in
.ic-clock
  &:before
    content ic-clock
.ic-cloud
  &:before
    content ic-cloud
.ic-cloud-down
  &:before
    content ic-cloud-down
.ic-cloud-offline
  &:before
    content ic-cloud-offline
.ic-cloud-sync
  &:before
    content ic-cloud-sync
.ic-cloud-up
  &:before
    content ic-cloud-up
.ic-clubs
  &:before
    content ic-clubs
.ic-color-filter
  &:before
    content ic-color-filter
.ic-column
  &:before
    content ic-column
.ic-compound
  &:before
    content ic-compound
.ic-console-error
  &:before
    content ic-console-error
.ic-console-help
  &:before
    content ic-console-help
.ic-console-info
  &:before
    content ic-console-info
.ic-console-warn
  &:before
    content ic-console-warn
.ic-cookie
  &:before
    content ic-cookie
.ic-copy
  &:before
    content ic-copy
.ic-copyleft
  &:before
    content ic-copyleft
.ic-copyright
  &:before
    content ic-copyright
.ic-credit-card
  &:before
    content ic-credit-card
.ic-crop
  &:before
    content ic-crop
.ic-cross
  &:before
    content ic-cross
.ic-crosshair
  &:before
    content ic-crosshair
.ic-cube
  &:before
    content ic-cube
.ic-currency-bdt
  &:before
    content ic-currency-bdt
.ic-currency-btc
  &:before
    content ic-currency-btc
.ic-currency-chf
  &:before
    content ic-currency-chf
.ic-currency-cny
  &:before
    content ic-currency-cny
.ic-currency-eth
  &:before
    content ic-currency-eth
.ic-currency-eur
  &:before
    content ic-currency-eur
.ic-currency-gbp
  &:before
    content ic-currency-gbp
.ic-currency-inr
  &:before
    content ic-currency-inr
.ic-currency-jpy
  &:before
    content ic-currency-jpy
.ic-currency-krw
  &:before
    content ic-currency-krw
.ic-currency-ngn
  &:before
    content ic-currency-ngn
.ic-currency-rub
  &:before
    content ic-currency-rub
.ic-currency-sign
  &:before
    content ic-currency-sign
.ic-currency-try
  &:before
    content ic-currency-try
.ic-currency-twd
  &:before
    content ic-currency-twd
.ic-currency-usd
  &:before
    content ic-currency-usd
.ic-curve
  &:before
    content ic-curve
.ic-cut
  &:before
    content ic-cut
.ic-database
  &:before
    content ic-database
.ic-debug
  &:before
    content ic-debug
.ic-delete
  &:before
    content ic-delete
.ic-device-pc
  &:before
    content ic-device-pc
.ic-device-phone
  &:before
    content ic-device-phone
.ic-devices
  &:before
    content ic-devices
.ic-device-tab
  &:before
    content ic-device-tab
.ic-diamond
  &:before
    content ic-diamond
.ic-diamond-ring
  &:before
    content ic-diamond-ring
.ic-dice
  &:before
    content ic-dice
.ic-dice-five
  &:before
    content ic-dice-five
.ic-dice-four
  &:before
    content ic-dice-four
.ic-dice-one
  &:before
    content ic-dice-one
.ic-dice-six
  &:before
    content ic-dice-six
.ic-dice-three
  &:before
    content ic-dice-three
.ic-dice-two
  &:before
    content ic-dice-two
.ic-diff
  &:before
    content ic-diff
.ic-direction
  &:before
    content ic-direction
.ic-direction-all
  &:before
    content ic-direction-all
.ic-direction-e
  &:before
    content ic-direction-e
.ic-direction-n
  &:before
    content ic-direction-n
.ic-direction-ne
  &:before
    content ic-direction-ne
.ic-direction-nw
  &:before
    content ic-direction-nw
.ic-direction-s
  &:before
    content ic-direction-s
.ic-direction-se
  &:before
    content ic-direction-se
.ic-direction-sw
  &:before
    content ic-direction-sw
.ic-direction-w
  &:before
    content ic-direction-w
.ic-dna
  &:before
    content ic-dna
.ic-dot
  &:before
    content ic-dot
.ic-dots
  &:before
    content ic-dots
.ic-download
  &:before
    content ic-download
.ic-down-up
  &:before
    content ic-down-up
.ic-drag
  &:before
    content ic-drag
.ic-drawer-empty
  &:before
    content ic-drawer-empty
.ic-drawer-full
  &:before
    content ic-drawer-full
.ic-drone
  &:before
    content ic-drone
.ic-duplicate
  &:before
    content ic-duplicate
.ic-edit-redo
  &:before
    content ic-edit-redo
.ic-edit-undo
  &:before
    content ic-edit-undo
.ic-ellipse
  &:before
    content ic-ellipse
.ic-envelope
  &:before
    content ic-envelope
.ic-eraser
  &:before
    content ic-eraser
.ic-extension
  &:before
    content ic-extension
.ic-external
  &:before
    content ic-external
.ic-eyedroper
  &:before
    content ic-eyedroper
.ic-factory
  &:before
    content ic-factory
.ic-file
  &:before
    content ic-file
.ic-file-archive
  &:before
    content ic-file-archive
.ic-file-audio
  &:before
    content ic-file-audio
.ic-file-binary
  &:before
    content ic-file-binary
.ic-file-blank
  &:before
    content ic-file-blank
.ic-file-code
  &:before
    content ic-file-code
.ic-file-document
  &:before
    content ic-file-document
.ic-file-image
  &:before
    content ic-file-image
.ic-file-link
  &:before
    content ic-file-link
.ic-file-markup
  &:before
    content ic-file-markup
.ic-file-media
  &:before
    content ic-file-media
.ic-file-program
  &:before
    content ic-file-program
.ic-files
  &:before
    content ic-files
.ic-file-unknown
  &:before
    content ic-file-unknown
.ic-fill
  &:before
    content ic-fill
.ic-film-photo
  &:before
    content ic-film-photo
.ic-filter
  &:before
    content ic-filter
.ic-find
  &:before
    content ic-find
.ic-fingerprint
  &:before
    content ic-fingerprint
.ic-fire
  &:before
    content ic-fire
.ic-flag
  &:before
    content ic-flag
.ic-flim-roll
  &:before
    content ic-flim-roll
.ic-flim-strip
  &:before
    content ic-flim-strip
.ic-flip
  &:before
    content ic-flip
.ic-float-left
  &:before
    content ic-float-left
.ic-float-middle
  &:before
    content ic-float-middle
.ic-float-none
  &:before
    content ic-float-none
.ic-float-right
  &:before
    content ic-float-right
.ic-floppy
  &:before
    content ic-floppy
.ic-flyer-three-fold
  &:before
    content ic-flyer-three-fold
.ic-flyer-two-fold
  &:before
    content ic-flyer-two-fold
.ic-folder
  &:before
    content ic-folder
.ic-folder-down
  &:before
    content ic-folder-down
.ic-folder-minus
  &:before
    content ic-folder-minus
.ic-folder-parent
  &:before
    content ic-folder-parent
.ic-folder-plus
  &:before
    content ic-folder-plus
.ic-folder-up
  &:before
    content ic-folder-up
.ic-font-liga
  &:before
    content ic-font-liga
.ic-font-size
  &:before
    content ic-font-size
.ic-font-size-down
  &:before
    content ic-font-size-down
.ic-font-size-up
  &:before
    content ic-font-size-up
.ic-forward
  &:before
    content ic-forward
.ic-fraction
  &:before
    content ic-fraction
.ic-fullscreen-off
  &:before
    content ic-fullscreen-off
.ic-fullscreen-on
  &:before
    content ic-fullscreen-on
.ic-function
  &:before
    content ic-function
.ic-game
  &:before
    content ic-game
.ic-gear
  &:before
    content ic-gear
.ic-gesture
  &:before
    content ic-gesture
.ic-ghost
  &:before
    content ic-ghost
.ic-gift
  &:before
    content ic-gift
.ic-git-branch
  &:before
    content ic-git-branch
.ic-git-commit
  &:before
    content ic-git-commit
.ic-git-compare
  &:before
    content ic-git-compare
.ic-git-merge
  &:before
    content ic-git-merge
.ic-git-pull-request
  &:before
    content ic-git-pull-request
.ic-glitter
  &:before
    content ic-glitter
.ic-globe
  &:before
    content ic-globe
.ic-globe-down
  &:before
    content ic-globe-down
.ic-globe-up
  &:before
    content ic-globe-up
.ic-gradient
  &:before
    content ic-gradient
.ic-graduation-hat
  &:before
    content ic-graduation-hat
.ic-grid-three
  &:before
    content ic-grid-three
.ic-grid-two
  &:before
    content ic-grid-two
.ic-group
  &:before
    content ic-group
.ic-hammer
  &:before
    content ic-hammer
.ic-hand
  &:before
    content ic-hand
.ic-hand-clap
  &:before
    content ic-hand-clap
.ic-hand-fist
  &:before
    content ic-hand-fist
.ic-hand-high-five
  &:before
    content ic-hand-high-five
.ic-hand-palm-left
  &:before
    content ic-hand-palm-left
.ic-hand-palm-right
  &:before
    content ic-hand-palm-right
.ic-hand-point-down
  &:before
    content ic-hand-point-down
.ic-hand-point-left
  &:before
    content ic-hand-point-left
.ic-hand-point-right
  &:before
    content ic-hand-point-right
.ic-hand-point-up
  &:before
    content ic-hand-point-up
.ic-hand-punch
  &:before
    content ic-hand-punch
.ic-hand-rock
  &:before
    content ic-hand-rock
.ic-hand-thumbs-down
  &:before
    content ic-hand-thumbs-down
.ic-hand-thumbs-up
  &:before
    content ic-hand-thumbs-up
.ic-hand-top-left
  &:before
    content ic-hand-top-left
.ic-hand-top-right
  &:before
    content ic-hand-top-right
.ic-hand-v
  &:before
    content ic-hand-v
.ic-hash
  &:before
    content ic-hash
.ic-headset
  &:before
    content ic-headset
.ic-headset-mic
  &:before
    content ic-headset-mic
.ic-heart
  &:before
    content ic-heart
.ic-heart-broken
  &:before
    content ic-heart-broken
.ic-heart-empty
  &:before
    content ic-heart-empty
.ic-heart-half
  &:before
    content ic-heart-half
.ic-hidden
  &:before
    content ic-hidden
.ic-home
  &:before
    content ic-home
.ic-horizontal-rule
  &:before
    content ic-horizontal-rule
.ic-hourglass
  &:before
    content ic-hourglass
.ic-image
  &:before
    content ic-image
.ic-images
  &:before
    content ic-images
.ic-incognito
  &:before
    content ic-incognito
.ic-injection
  &:before
    content ic-injection
.ic-inspect
  &:before
    content ic-inspect
.ic-issue
  &:before
    content ic-issue
.ic-issue-closed
  &:before
    content ic-issue-closed
.ic-issue-reopened
  &:before
    content ic-issue-reopened
.ic-joystick
  &:before
    content ic-joystick
.ic-key
  &:before
    content ic-key
.ic-keyboard
  &:before
    content ic-keyboard
.ic-key-command
  &:before
    content ic-key-command
.ic-key-control
  &:before
    content ic-key-control
.ic-key-option
  &:before
    content ic-key-option
.ic-key-shift
  &:before
    content ic-key-shift
.ic-key-tab
  &:before
    content ic-key-tab
.ic-knob
  &:before
    content ic-knob
.ic-language
  &:before
    content ic-language
.ic-layer-collapse
  &:before
    content ic-layer-collapse
.ic-layer-expand
  &:before
    content ic-layer-expand
.ic-layers
  &:before
    content ic-layers
.ic-left-right
  &:before
    content ic-left-right
.ic-lego
  &:before
    content ic-lego
.ic-line
  &:before
    content ic-line
.ic-line-cap-butt
  &:before
    content ic-line-cap-butt
.ic-line-cap-projecting
  &:before
    content ic-line-cap-projecting
.ic-line-cap-round
  &:before
    content ic-line-cap-round
.ic-line-height
  &:before
    content ic-line-height
.ic-line-join-bavel
  &:before
    content ic-line-join-bavel
.ic-line-join-miter
  &:before
    content ic-line-join-miter
.ic-line-join-round
  &:before
    content ic-line-join-round
.ic-link
  &:before
    content ic-link
.ic-list
  &:before
    content ic-list
.ic-list-add
  &:before
    content ic-list-add
.ic-list-check
  &:before
    content ic-list-check
.ic-list-clear
  &:before
    content ic-list-clear
.ic-list-ordered
  &:before
    content ic-list-ordered
.ic-list-remove
  &:before
    content ic-list-remove
.ic-list-unordered
  &:before
    content ic-list-unordered
.ic-list-update
  &:before
    content ic-list-update
.ic-lock
  &:before
    content ic-lock
.ic-log-in
  &:before
    content ic-log-in
.ic-logo-airbnb
  &:before
    content ic-logo-airbnb
.ic-logo-amazon
  &:before
    content ic-logo-amazon
.ic-logo-amp
  &:before
    content ic-logo-amp
.ic-logo-android
  &:before
    content ic-logo-android
.ic-logo-angular
  &:before
    content ic-logo-angular
.ic-logo-apple
  &:before
    content ic-logo-apple
.ic-logo-aws
  &:before
    content ic-logo-aws
.ic-logo-azure
  &:before
    content ic-logo-azure
.ic-logo-beats
  &:before
    content ic-logo-beats
.ic-logo-behance
  &:before
    content ic-logo-behance
.ic-logo-bing
  &:before
    content ic-logo-bing
.ic-logo-bitbucket
  &:before
    content ic-logo-bitbucket
.ic-logo-blender
  &:before
    content ic-logo-blender
.ic-logo-blogger
  &:before
    content ic-logo-blogger
.ic-logo-bluetooth
  &:before
    content ic-logo-bluetooth
.ic-logo-bootstrap
  &:before
    content ic-logo-bootstrap
.ic-logo-box
  &:before
    content ic-logo-box
.ic-logo-boxboat
  &:before
    content ic-logo-boxboat
.ic-logo-buffer
  &:before
    content ic-logo-buffer
.ic-logo-c
  &:before
    content ic-logo-c
.ic-logo-cardboard
  &:before
    content ic-logo-cardboard
.ic-logo-cc
  &:before
    content ic-logo-cc
.ic-logo-chrome
  &:before
    content ic-logo-chrome
.ic-logo-cloudflare
  &:before
    content ic-logo-cloudflare
.ic-logo-cloudnine
  &:before
    content ic-logo-cloudnine
.ic-logo-code-mirror
  &:before
    content ic-logo-code-mirror
.ic-logo-codepen
  &:before
    content ic-logo-codepen
.ic-logo-codeship
  &:before
    content ic-logo-codeship
.ic-logo-cpp
  &:before
    content ic-logo-cpp
.ic-logo-cs
  &:before
    content ic-logo-cs
.ic-logo-css
  &:before
    content ic-logo-css
.ic-logo-deviantart
  &:before
    content ic-logo-deviantart
.ic-logo-dicord
  &:before
    content ic-logo-dicord
.ic-logo-digitalocean
  &:before
    content ic-logo-digitalocean
.ic-logo-disqus
  &:before
    content ic-logo-disqus
.ic-logo-do
  &:before
    content ic-logo-do
.ic-logo-docker
  &:before
    content ic-logo-docker
.ic-logo-dribbble
  &:before
    content ic-logo-dribbble
.ic-logo-dropbox
  &:before
    content ic-logo-dropbox
.ic-logo-drupal
  &:before
    content ic-logo-drupal
.ic-logo-ebay
  &:before
    content ic-logo-ebay
.ic-logo-edge
  &:before
    content ic-logo-edge
.ic-logo-elastic-search
  &:before
    content ic-logo-elastic-search
.ic-logo-evernote
  &:before
    content ic-logo-evernote
.ic-logo-fb
  &:before
    content ic-logo-fb
.ic-logo-firefox
  &:before
    content ic-logo-firefox
.ic-logo-flickr
  &:before
    content ic-logo-flickr
.ic-logo-gdrive
  &:before
    content ic-logo-gdrive
.ic-logo-git
  &:before
    content ic-logo-git
.ic-logo-github
  &:before
    content ic-logo-github
.ic-logo-gitlab
  &:before
    content ic-logo-gitlab
.ic-logo-gmail
  &:before
    content ic-logo-gmail
.ic-logo-go
  &:before
    content ic-logo-go
.ic-logo-google
  &:before
    content ic-logo-google
.ic-logo-google-cloud
  &:before
    content ic-logo-google-cloud
.ic-logo-google-earth
  &:before
    content ic-logo-google-earth
.ic-logo-google-maps
  &:before
    content ic-logo-google-maps
.ic-logo-google-play
  &:before
    content ic-logo-google-play
.ic-logo-google-plus
  &:before
    content ic-logo-google-plus
.ic-logo-google-translate
  &:before
    content ic-logo-google-translate
.ic-logo-heroku
  &:before
    content ic-logo-heroku
.ic-logo-html
  &:before
    content ic-logo-html
.ic-logo-icloud
  &:before
    content ic-logo-icloud
.ic-logo-ie
  &:before
    content ic-logo-ie
.ic-logo-instragram
  &:before
    content ic-logo-instragram
.ic-logo-itunes
  &:before
    content ic-logo-itunes
.ic-logo-javascript
  &:before
    content ic-logo-javascript
.ic-logo-joomla
  &:before
    content ic-logo-joomla
.ic-logo-jsfiddle
  &:before
    content ic-logo-jsfiddle
.ic-logo-json
  &:before
    content ic-logo-json
.ic-logo-linkedin
  &:before
    content ic-logo-linkedin
.ic-logo-linode
  &:before
    content ic-logo-linode
.ic-logo-linux
  &:before
    content ic-logo-linux
.ic-logo-md
  &:before
    content ic-logo-md
.ic-logo-medium
  &:before
    content ic-logo-medium
.ic-logo-messenger
  &:before
    content ic-logo-messenger
.ic-logo-meteor
  &:before
    content ic-logo-meteor
.ic-logo-minecraft
  &:before
    content ic-logo-minecraft
.ic-logo-nfc
  &:before
    content ic-logo-nfc
.ic-logo-node
  &:before
    content ic-logo-node
.ic-logo-npm
  &:before
    content ic-logo-npm
.ic-logo-office
  &:before
    content ic-logo-office
.ic-logo-onedrive
  &:before
    content ic-logo-onedrive
.ic-logo-opera
  &:before
    content ic-logo-opera
.ic-logo-paypal
  &:before
    content ic-logo-paypal
.ic-logo-periscope
  &:before
    content ic-logo-periscope
.ic-logo-php
  &:before
    content ic-logo-php
.ic-logo-pinterest
  &:before
    content ic-logo-pinterest
.ic-logo-playstation
  &:before
    content ic-logo-playstation
.ic-logo-polymer
  &:before
    content ic-logo-polymer
.ic-logo-python
  &:before
    content ic-logo-python
.ic-logo-r
  &:before
    content ic-logo-r
.ic-logo-react
  &:before
    content ic-logo-react
.ic-logo-recycle
  &:before
    content ic-logo-recycle
.ic-logo-reddit
  &:before
    content ic-logo-reddit
.ic-logo-rss
  &:before
    content ic-logo-rss
.ic-logo-safari
  &:before
    content ic-logo-safari
.ic-logo-sass
  &:before
    content ic-logo-sass
.ic-logo-skype
  &:before
    content ic-logo-skype
.ic-logo-slack
  &:before
    content ic-logo-slack
.ic-logo-slideshare
  &:before
    content ic-logo-slideshare
.ic-logo-snapchat
  &:before
    content ic-logo-snapchat
.ic-logo-soundcloud
  &:before
    content ic-logo-soundcloud
.ic-logo-spoyify
  &:before
    content ic-logo-spoyify
.ic-logo-stackoverflow
  &:before
    content ic-logo-stackoverflow
.ic-logo-steam
  &:before
    content ic-logo-steam
.ic-logo-svg
  &:before
    content ic-logo-svg
.ic-logo-swift
  &:before
    content ic-logo-swift
.ic-logo-switch
  &:before
    content ic-logo-switch
.ic-logo-telegram
  &:before
    content ic-logo-telegram
.ic-logo-text
  &:before
    content ic-logo-text
.ic-logo-tumblr
  &:before
    content ic-logo-tumblr
.ic-logo-twitch
  &:before
    content ic-logo-twitch
.ic-logo-twitter
  &:before
    content ic-logo-twitter
.ic-logo-typescript
  &:before
    content ic-logo-typescript
.ic-logo-uber
  &:before
    content ic-logo-uber
.ic-logo-ubuntu
  &:before
    content ic-logo-ubuntu
.ic-log-out
  &:before
    content ic-log-out
.ic-logo-viber
  &:before
    content ic-logo-viber
.ic-logo-vimeo
  &:before
    content ic-logo-vimeo
.ic-logo-vine
  &:before
    content ic-logo-vine
.ic-logo-vs
  &:before
    content ic-logo-vs
.ic-logo-whatsapp
  &:before
    content ic-logo-whatsapp
.ic-logo-wikipedia
  &:before
    content ic-logo-wikipedia
.ic-logo-windows
  &:before
    content ic-logo-windows
.ic-logo-wordpress
  &:before
    content ic-logo-wordpress
.ic-logo-xbox
  &:before
    content ic-logo-xbox
.ic-logo-xml
  &:before
    content ic-logo-xml
.ic-logo-yahoo
  &:before
    content ic-logo-yahoo
.ic-logo-youtube
  &:before
    content ic-logo-youtube
.ic-magnet
  &:before
    content ic-magnet
.ic-mail
  &:before
    content ic-mail
.ic-mail-forward
  &:before
    content ic-mail-forward
.ic-mail-reply
  &:before
    content ic-mail-reply
.ic-man
  &:before
    content ic-man
.ic-map
  &:before
    content ic-map
.ic-margin
  &:before
    content ic-margin
.ic-marker
  &:before
    content ic-marker
.ic-marquee
  &:before
    content ic-marquee
.ic-marquee-corner
  &:before
    content ic-marquee-corner
.ic-marquee-round
  &:before
    content ic-marquee-round
.ic-marquee-rounded
  &:before
    content ic-marquee-rounded
.ic-mask
  &:before
    content ic-mask
.ic-masonry
  &:before
    content ic-masonry
.ic-medal
  &:before
    content ic-medal
.ic-memo
  &:before
    content ic-memo
.ic-mention
  &:before
    content ic-mention
.ic-menu
  &:before
    content ic-menu
.ic-message
  &:before
    content ic-message
.ic-messages
  &:before
    content ic-messages
.ic-meter
  &:before
    content ic-meter
.ic-mic
  &:before
    content ic-mic
.ic-mic-off
  &:before
    content ic-mic-off
.ic-mid-fold
  &:before
    content ic-mid-fold
.ic-minus
  &:before
    content ic-minus
.ic-minus-small
  &:before
    content ic-minus-small
.ic-mirror
  &:before
    content ic-mirror
.ic-mobile-android
  &:before
    content ic-mobile-android
.ic-mobile-classic
  &:before
    content ic-mobile-classic
.ic-mobile-iphone
  &:before
    content ic-mobile-iphone
.ic-modified
  &:before
    content ic-modified
.ic-more
  &:before
    content ic-more
.ic-motion
  &:before
    content ic-motion
.ic-mountain
  &:before
    content ic-mountain
.ic-music
  &:before
    content ic-music
.ic-newspaper
  &:before
    content ic-newspaper
.ic-no-key
  &:before
    content ic-no-key
.ic-no-line-break
  &:before
    content ic-no-line-break
.ic-no-lock
  &:before
    content ic-no-lock
.ic-notepad
  &:before
    content ic-notepad
.ic-null
  &:before
    content ic-null
.ic-opacity
  &:before
    content ic-opacity
.ic-options
  &:before
    content ic-options
.ic-orientation
  &:before
    content ic-orientation
.ic-outline
  &:before
    content ic-outline
.ic-package
  &:before
    content ic-package
.ic-padding
  &:before
    content ic-padding
.ic-palette
  &:before
    content ic-palette
.ic-panel-bottom-close
  &:before
    content ic-panel-bottom-close
.ic-panel-bottom-collapse
  &:before
    content ic-panel-bottom-collapse
.ic-panel-bottom-expand
  &:before
    content ic-panel-bottom-expand
.ic-panel-bottom-open
  &:before
    content ic-panel-bottom-open
.ic-panel-left-close
  &:before
    content ic-panel-left-close
.ic-panel-left-collapse
  &:before
    content ic-panel-left-collapse
.ic-panel-left-expand
  &:before
    content ic-panel-left-expand
.ic-panel-left-open
  &:before
    content ic-panel-left-open
.ic-panel-right-close
  &:before
    content ic-panel-right-close
.ic-panel-right-collapse
  &:before
    content ic-panel-right-collapse
.ic-panel-right-expand
  &:before
    content ic-panel-right-expand
.ic-panel-right-open
  &:before
    content ic-panel-right-open
.ic-panel-top-close
  &:before
    content ic-panel-top-close
.ic-panel-top-collapse
  &:before
    content ic-panel-top-collapse
.ic-panel-top-expand
  &:before
    content ic-panel-top-expand
.ic-panel-top-open
  &:before
    content ic-panel-top-open
.ic-paper-clip
  &:before
    content ic-paper-clip
.ic-parentheses
  &:before
    content ic-parentheses
.ic-paste
  &:before
    content ic-paste
.ic-pause
  &:before
    content ic-pause
.ic-pen
  &:before
    content ic-pen
.ic-pencil
  &:before
    content ic-pencil
.ic-people
  &:before
    content ic-people
.ic-person
  &:before
    content ic-person
.ic-phone
  &:before
    content ic-phone
.ic-phone-classic
  &:before
    content ic-phone-classic
.ic-phone-in
  &:before
    content ic-phone-in
.ic-phone-loud
  &:before
    content ic-phone-loud
.ic-phone-missed
  &:before
    content ic-phone-missed
.ic-phone-out
  &:before
    content ic-phone-out
.ic-phone-reject
  &:before
    content ic-phone-reject
.ic-pi
  &:before
    content ic-pi
.ic-pill
  &:before
    content ic-pill
.ic-pin
  &:before
    content ic-pin
.ic-place
  &:before
    content ic-place
.ic-play
  &:before
    content ic-play
.ic-plug
  &:before
    content ic-plug
.ic-plus
  &:before
    content ic-plus
.ic-plus-small
  &:before
    content ic-plus-small
.ic-polygon
  &:before
    content ic-polygon
.ic-poster
  &:before
    content ic-poster
.ic-poster-wide
  &:before
    content ic-poster-wide
.ic-power
  &:before
    content ic-power
.ic-prescription
  &:before
    content ic-prescription
.ic-printer
  &:before
    content ic-printer
.ic-pull-down
  &:before
    content ic-pull-down
.ic-pull-left
  &:before
    content ic-pull-left
.ic-pull-right
  &:before
    content ic-pull-right
.ic-pull-up
  &:before
    content ic-pull-up
.ic-push-down
  &:before
    content ic-push-down
.ic-push-left
  &:before
    content ic-push-left
.ic-push-right
  &:before
    content ic-push-right
.ic-push-up
  &:before
    content ic-push-up
.ic-puzzle
  &:before
    content ic-puzzle
.ic-qr-code
  &:before
    content ic-qr-code
.ic-quote-end
  &:before
    content ic-quote-end
.ic-quote-start
  &:before
    content ic-quote-start
.ic-radio-checked-empty
  &:before
    content ic-radio-checked-empty
.ic-radio-checked-full
  &:before
    content ic-radio-checked-full
.ic-radio-empty
  &:before
    content ic-radio-empty
.ic-radio-full
  &:before
    content ic-radio-full
.ic-radio-full-filled
  &:before
    content ic-radio-full-filled
.ic-read
  &:before
    content ic-read
.ic-rectangle
  &:before
    content ic-rectangle
.ic-registered
  &:before
    content ic-registered
.ic-reload
  &:before
    content ic-reload
.ic-reload-auto
  &:before
    content ic-reload-auto
.ic-repeat-all
  &:before
    content ic-repeat-all
.ic-repeat-one
  &:before
    content ic-repeat-one
.ic-repo
  &:before
    content ic-repo
.ic-repo-forked
  &:before
    content ic-repo-forked
.ic-restore
  &:before
    content ic-restore
.ic-rewind
  &:before
    content ic-rewind
.ic-rice-bowl
  &:before
    content ic-rice-bowl
.ic-right-left
  &:before
    content ic-right-left
.ic-robot
  &:before
    content ic-robot
.ic-rocket
  &:before
    content ic-rocket
.ic-rotate
  &:before
    content ic-rotate
.ic-row
  &:before
    content ic-row
.ic-run
  &:before
    content ic-run
.ic-scanner
  &:before
    content ic-scanner
.ic-script
  &:before
    content ic-script
.ic-sections
  &:before
    content ic-sections
.ic-secure
  &:before
    content ic-secure
.ic-select-all
  &:before
    content ic-select-all
.ic-send
  &:before
    content ic-send
.ic-server
  &:before
    content ic-server
.ic-sharable
  &:before
    content ic-sharable
.ic-share
  &:before
    content ic-share
.ic-shield
  &:before
    content ic-shield
.ic-shipping
  &:before
    content ic-shipping
.ic-shopping-cart
  &:before
    content ic-shopping-cart
.ic-shuffle
  &:before
    content ic-shuffle
.ic-skew-horizontal
  &:before
    content ic-skew-horizontal
.ic-skew-vertical
  &:before
    content ic-skew-vertical
.ic-sliders-horizontal
  &:before
    content ic-sliders-horizontal
.ic-sliders-vertical
  &:before
    content ic-sliders-vertical
.ic-smiley-crosseyes
  &:before
    content ic-smiley-crosseyes
.ic-smiley-evil
  &:before
    content ic-smiley-evil
.ic-smiley-face
  &:before
    content ic-smiley-face
.ic-smiley-happy
  &:before
    content ic-smiley-happy
.ic-smiley-joy
  &:before
    content ic-smiley-joy
.ic-smiley-meh
  &:before
    content ic-smiley-meh
.ic-smiley-mock
  &:before
    content ic-smiley-mock
.ic-smiley-ninja
  &:before
    content ic-smiley-ninja
.ic-smiley-poop
  &:before
    content ic-smiley-poop
.ic-smiley-sad
  &:before
    content ic-smiley-sad
.ic-smiley-sideface
  &:before
    content ic-smiley-sideface
.ic-smiley-smile
  &:before
    content ic-smiley-smile
.ic-smiley-sunglasses
  &:before
    content ic-smiley-sunglasses
.ic-sort-down
  &:before
    content ic-sort-down
.ic-sort-up
  &:before
    content ic-sort-up
.ic-spade
  &:before
    content ic-spade
.ic-spark
  &:before
    content ic-spark
.ic-spectacles-glasses
  &:before
    content ic-spectacles-glasses
.ic-spectacles-sunglasses
  &:before
    content ic-spectacles-sunglasses
.ic-spellcheck
  &:before
    content ic-spellcheck
.ic-sqare-circle
  &:before
    content ic-sqare-circle
.ic-sqare-left
  &:before
    content ic-sqare-left
.ic-sqare-minus
  &:before
    content ic-sqare-minus
.ic-sqare-plus
  &:before
    content ic-sqare-plus
.ic-sqare-right
  &:before
    content ic-sqare-right
.ic-sqare-slash
  &:before
    content ic-sqare-slash
.ic-star
  &:before
    content ic-star
.ic-star-full
  &:before
    content ic-star-full
.ic-star-half
  &:before
    content ic-star-half
.ic-stat
  &:before
    content ic-stat
.ic-stethoscope
  &:before
    content ic-stethoscope
.ic-stop
  &:before
    content ic-stop
.ic-sync
  &:before
    content ic-sync
.ic-sync-auto
  &:before
    content ic-sync-auto
.ic-tab
  &:before
    content ic-tab
.ic-table
  &:before
    content ic-table
.ic-tag
  &:before
    content ic-tag
.ic-tags
  &:before
    content ic-tags
.ic-target
  &:before
    content ic-target
.ic-terminal
  &:before
    content ic-terminal
.ic-text
  &:before
    content ic-text
.ic-text-align-center
  &:before
    content ic-text-align-center
.ic-text-align-left
  &:before
    content ic-text-align-left
.ic-text-align-right
  &:before
    content ic-text-align-right
.ic-text-area
  &:before
    content ic-text-area
.ic-text-bg
  &:before
    content ic-text-bg
.ic-text-bold
  &:before
    content ic-text-bold
.ic-text-case
  &:before
    content ic-text-case
.ic-text-color
  &:before
    content ic-text-color
.ic-text-indent
  &:before
    content ic-text-indent
.ic-text-italic
  &:before
    content ic-text-italic
.ic-text-justify
  &:before
    content ic-text-justify
.ic-text-justify-center
  &:before
    content ic-text-justify-center
.ic-text-justify-left
  &:before
    content ic-text-justify-left
.ic-text-justify-right
  &:before
    content ic-text-justify-right
.ic-text-outdent
  &:before
    content ic-text-outdent
.ic-text-paragraph
  &:before
    content ic-text-paragraph
.ic-text-selection
  &:before
    content ic-text-selection
.ic-text-strikethrough
  &:before
    content ic-text-strikethrough
.ic-text-subscript
  &:before
    content ic-text-subscript
.ic-text-superscript
  &:before
    content ic-text-superscript
.ic-text-symbol
  &:before
    content ic-text-symbol
.ic-text-underline
  &:before
    content ic-text-underline
.ic-texture
  &:before
    content ic-texture
.ic-theme
  &:before
    content ic-theme
.ic-three-bands
  &:before
    content ic-three-bands
.ic-thumbs-down
  &:before
    content ic-thumbs-down
.ic-thumbs-up
  &:before
    content ic-thumbs-up
.ic-timer
  &:before
    content ic-timer
.ic-trademark
  &:before
    content ic-trademark
.ic-translate
  &:before
    content ic-translate
.ic-tree
  &:before
    content ic-tree
.ic-tri-fold
  &:before
    content ic-tri-fold
.ic-trophy
  &:before
    content ic-trophy
.ic-umbrella
  &:before
    content ic-umbrella
.ic-ungroup
  &:before
    content ic-ungroup
.ic-up-down
  &:before
    content ic-up-down
.ic-upload
  &:before
    content ic-upload
.ic-usb
  &:before
    content ic-usb
.ic-vibration
  &:before
    content ic-vibration
.ic-video
  &:before
    content ic-video
.ic-visible
  &:before
    content ic-visible
.ic-voice-mail
  &:before
    content ic-voice-mail
.ic-volume
  &:before
    content ic-volume
.ic-volume-down
  &:before
    content ic-volume-down
.ic-volume-high
  &:before
    content ic-volume-high
.ic-volume-low
  &:before
    content ic-volume-low
.ic-volume-mute
  &:before
    content ic-volume-mute
.ic-volume-up
  &:before
    content ic-volume-up
.ic-vr
  &:before
    content ic-vr
.ic-wand
  &:before
    content ic-wand
.ic-watch
  &:before
    content ic-watch
.ic-widget
  &:before
    content ic-widget
.ic-wifi-off
  &:before
    content ic-wifi-off
.ic-wifi-on
  &:before
    content ic-wifi-on
.ic-win-close
  &:before
    content ic-win-close
.ic-win-cross
  &:before
    content ic-win-cross
.ic-win-dot
  &:before
    content ic-win-dot
.ic-window
  &:before
    content ic-window
.ic-win-full
  &:before
    content ic-win-full
.ic-win-maximize
  &:before
    content ic-win-maximize
.ic-win-minimize
  &:before
    content ic-win-minimize
.ic-win-minus
  &:before
    content ic-win-minus
.ic-win-plus
  &:before
    content ic-win-plus
.ic-win-shrink
  &:before
    content ic-win-shrink
.ic-win-unmaximize
  &:before
    content ic-win-unmaximize
.ic-woman
  &:before
    content ic-woman
.ic-wrench
  &:before
    content ic-wrench
.ic-z-fold
  &:before
    content ic-z-fold
.ic-zoom-in
  &:before
    content ic-zoom-in
.ic-zoom-out
  &:before
    content ic-zoom-out

