icomoon-font-path ?= "fonts"

ic-airplay = "\e900"
ic-alarm-off = "\e901"
ic-alarm-on = "\e902"
ic-alert = "\e903"
ic-align-bottom = "\e904"
ic-align-h-center = "\e905"
ic-align-left = "\e906"
ic-align-right = "\e907"
ic-align-top = "\e908"
ic-align-v-center = "\e909"
ic-anchor = "\e90a"
ic-angle-brakets = "\e90b"
ic-app = "\e90c"
ic-approval = "\e90d"
ic-arrow-angle-down = "\e90e"
ic-arrow-angle-left = "\e90f"
ic-arrow-angle-mini-down = "\e910"
ic-arrow-angle-mini-left = "\e911"
ic-arrow-angle-mini-right = "\e912"
ic-arrow-angle-mini-up = "\e913"
ic-arrow-angle-right = "\e914"
ic-arrow-angle-up = "\e915"
ic-arrow-circle-angle-down = "\e916"
ic-arrow-circle-angle-left = "\e917"
ic-arrow-circle-angle-right = "\e918"
ic-arrow-circle-angle-thin-down = "\e919"
ic-arrow-circle-angle-thin-left = "\e91a"
ic-arrow-circle-angle-thin-right = "\e91b"
ic-arrow-circle-angle-thin-up = "\e91c"
ic-arrow-circle-angle-up = "\e91d"
ic-arrow-circle-fat-down = "\e91e"
ic-arrow-circle-fat-left = "\e91f"
ic-arrow-circle-fat-right = "\e920"
ic-arrow-circle-fat-up = "\e921"
ic-arrow-circle-linear-down = "\e922"
ic-arrow-circle-linear-left = "\e923"
ic-arrow-circle-linear-right = "\e924"
ic-arrow-circle-linear-up = "\e925"
ic-arrow-double-down = "\e926"
ic-arrow-double-left = "\e927"
ic-arrow-double-right = "\e928"
ic-arrow-double-up = "\e929"
ic-arrow-fat-down = "\e92a"
ic-arrow-fat-left = "\e92b"
ic-arrow-fat-right = "\e92c"
ic-arrow-fat-up = "\e92d"
ic-arrow-head-down = "\e92e"
ic-arrow-head-left = "\e92f"
ic-arrow-head-right = "\e930"
ic-arrow-head-up = "\e931"
ic-arrow-linear-down = "\e932"
ic-arrow-linear-left = "\e933"
ic-arrow-linear-right = "\e934"
ic-arrow-linear-rounded-down = "\e935"
ic-arrow-linear-rounded-left = "\e936"
ic-arrow-linear-rounded-right = "\e937"
ic-arrow-linear-rounded-up = "\e938"
ic-arrow-linear-up = "\e939"
ic-arrow-long-down = "\e93a"
ic-arrow-long-eft = "\e93b"
ic-arrow-long-right = "\e93c"
ic-arrow-long-up = "\e93d"
ic-arrow-triangle-down = "\e93e"
ic-arrow-triangle-left = "\e93f"
ic-arrow-triangle-right = "\e940"
ic-arrow-triangle-up = "\e941"
ic-article = "\e942"
ic-baby = "\e943"
ic-baby-buggy = "\e944"
ic-badge = "\e945"
ic-badge-free = "\e946"
ic-badge-premium = "\e947"
ic-badge-super = "\e948"
ic-badge-ultimate = "\e949"
ic-balance = "\e94a"
ic-bar-code = "\e94b"
ic-bell = "\e94c"
ic-bike = "\e94d"
ic-block-spacing = "\e94e"
ic-blur = "\e94f"
ic-bolt = "\e950"
ic-book-closed = "\e951"
ic-bookmark = "\e952"
ic-bookmarks = "\e953"
ic-book-open = "\e954"
ic-books = "\e955"
ic-boost = "\e956"
ic-box = "\e957"
ic-braces = "\e958"
ic-brakets = "\e959"
ic-briefcase = "\e95a"
ic-brightness-high = "\e95b"
ic-brightness-low = "\e95c"
ic-brush = "\e95d"
ic-brush-big = "\e95e"
ic-bug = "\e95f"
ic-bulb = "\e960"
ic-cake = "\e961"
ic-calculator = "\e962"
ic-calendar = "\e963"
ic-camcoder = "\e964"
ic-camcoder-off = "\e965"
ic-camera = "\e966"
ic-camera-off = "\e967"
ic-car = "\e968"
ic-card-back = "\e969"
ic-card-front = "\e96a"
ic-card-horizontal = "\e96b"
ic-card-vertical = "\e96c"
ic-carousel = "\e96d"
ic-check = "\e96e"
ic-checkbox-checked = "\e96f"
ic-checkbox-empty = "\e970"
ic-checkbox-full-checked = "\e971"
ic-checkbox-half-checked = "\e972"
ic-check-double = "\e973"
ic-check-single = "\e974"
ic-city = "\e975"
ic-clear-format = "\e976"
ic-clipboard = "\e977"
ic-clipboard-in = "\e978"
ic-clock = "\e979"
ic-cloud = "\e97a"
ic-cloud-down = "\e97b"
ic-cloud-offline = "\e97c"
ic-cloud-sync = "\e97d"
ic-cloud-up = "\e97e"
ic-clubs = "\e97f"
ic-color-filter = "\e980"
ic-column = "\e981"
ic-compound = "\e982"
ic-console-error = "\e983"
ic-console-help = "\e984"
ic-console-info = "\e985"
ic-console-warn = "\e986"
ic-cookie = "\e987"
ic-copy = "\e988"
ic-copyleft = "\e989"
ic-copyright = "\e98a"
ic-credit-card = "\e98b"
ic-crop = "\e98c"
ic-cross = "\e98d"
ic-crosshair = "\e98e"
ic-cube = "\e98f"
ic-currency-bdt = "\e990"
ic-currency-btc = "\e991"
ic-currency-chf = "\e992"
ic-currency-cny = "\e993"
ic-currency-eth = "\e994"
ic-currency-eur = "\e995"
ic-currency-gbp = "\e996"
ic-currency-inr = "\e997"
ic-currency-jpy = "\e998"
ic-currency-krw = "\e999"
ic-currency-ngn = "\e99a"
ic-currency-rub = "\e99b"
ic-currency-sign = "\e99c"
ic-currency-try = "\e99d"
ic-currency-twd = "\e99e"
ic-currency-usd = "\e99f"
ic-curve = "\e9a0"
ic-cut = "\e9a1"
ic-database = "\e9a2"
ic-debug = "\e9a3"
ic-delete = "\e9a4"
ic-device-pc = "\e9a5"
ic-device-phone = "\e9a6"
ic-devices = "\e9a7"
ic-device-tab = "\e9a8"
ic-diamond = "\e9a9"
ic-diamond-ring = "\e9aa"
ic-dice = "\e9ab"
ic-dice-five = "\e9ac"
ic-dice-four = "\e9ad"
ic-dice-one = "\e9ae"
ic-dice-six = "\e9af"
ic-dice-three = "\e9b0"
ic-dice-two = "\e9b1"
ic-diff = "\e9b2"
ic-direction = "\e9b3"
ic-direction-all = "\e9b4"
ic-direction-e = "\e9b5"
ic-direction-n = "\e9b6"
ic-direction-ne = "\e9b7"
ic-direction-nw = "\e9b8"
ic-direction-s = "\e9b9"
ic-direction-se = "\e9ba"
ic-direction-sw = "\e9bb"
ic-direction-w = "\e9bc"
ic-dna = "\e9bd"
ic-dot = "\e9be"
ic-dots = "\e9bf"
ic-download = "\e9c0"
ic-down-up = "\e9c1"
ic-drag = "\e9c2"
ic-drawer-empty = "\e9c3"
ic-drawer-full = "\e9c4"
ic-drone = "\e9c5"
ic-duplicate = "\e9c6"
ic-edit-redo = "\e9c7"
ic-edit-undo = "\e9c8"
ic-ellipse = "\e9c9"
ic-envelope = "\e9ca"
ic-eraser = "\e9cb"
ic-extension = "\e9cc"
ic-external = "\e9cd"
ic-eyedroper = "\e9ce"
ic-factory = "\e9cf"
ic-file = "\e9d0"
ic-file-archive = "\e9d1"
ic-file-audio = "\e9d2"
ic-file-binary = "\e9d3"
ic-file-blank = "\e9d4"
ic-file-code = "\e9d5"
ic-file-document = "\e9d6"
ic-file-image = "\e9d7"
ic-file-link = "\e9d8"
ic-file-markup = "\e9d9"
ic-file-media = "\e9da"
ic-file-program = "\e9db"
ic-files = "\e9dc"
ic-file-unknown = "\e9dd"
ic-fill = "\e9de"
ic-film-photo = "\e9df"
ic-filter = "\e9e0"
ic-find = "\e9e1"
ic-fingerprint = "\e9e2"
ic-fire = "\e9e3"
ic-flag = "\e9e4"
ic-flim-roll = "\e9e5"
ic-flim-strip = "\e9e6"
ic-flip = "\e9e7"
ic-float-left = "\e9e8"
ic-float-middle = "\e9e9"
ic-float-none = "\e9ea"
ic-float-right = "\e9eb"
ic-floppy = "\e9ec"
ic-flyer-three-fold = "\e9ed"
ic-flyer-two-fold = "\e9ee"
ic-folder = "\e9ef"
ic-folder-down = "\e9f0"
ic-folder-minus = "\e9f1"
ic-folder-parent = "\e9f2"
ic-folder-plus = "\e9f3"
ic-folder-up = "\e9f4"
ic-font-liga = "\e9f5"
ic-font-size = "\e9f6"
ic-font-size-down = "\e9f7"
ic-font-size-up = "\e9f8"
ic-forward = "\e9f9"
ic-fraction = "\e9fa"
ic-fullscreen-off = "\e9fb"
ic-fullscreen-on = "\e9fc"
ic-function = "\e9fd"
ic-game = "\e9fe"
ic-gear = "\e9ff"
ic-gesture = "\ea00"
ic-ghost = "\ea01"
ic-gift = "\ea02"
ic-git-branch = "\ea03"
ic-git-commit = "\ea04"
ic-git-compare = "\ea05"
ic-git-merge = "\ea06"
ic-git-pull-request = "\ea07"
ic-glitter = "\ea08"
ic-globe = "\ea09"
ic-globe-down = "\ea0a"
ic-globe-up = "\ea0b"
ic-gradient = "\ea0c"
ic-graduation-hat = "\ea0d"
ic-grid-three = "\ea0e"
ic-grid-two = "\ea0f"
ic-group = "\ea10"
ic-hammer = "\ea11"
ic-hand = "\ea12"
ic-hand-clap = "\ea13"
ic-hand-fist = "\ea14"
ic-hand-high-five = "\ea15"
ic-hand-palm-left = "\ea16"
ic-hand-palm-right = "\ea17"
ic-hand-point-down = "\ea18"
ic-hand-point-left = "\ea19"
ic-hand-point-right = "\ea1a"
ic-hand-point-up = "\ea1b"
ic-hand-punch = "\ea1c"
ic-hand-rock = "\ea1d"
ic-hand-thumbs-down = "\ea1e"
ic-hand-thumbs-up = "\ea1f"
ic-hand-top-left = "\ea20"
ic-hand-top-right = "\ea21"
ic-hand-v = "\ea22"
ic-hash = "\ea23"
ic-headset = "\ea24"
ic-headset-mic = "\ea25"
ic-heart = "\ea26"
ic-heart-broken = "\ea27"
ic-heart-empty = "\ea28"
ic-heart-half = "\ea29"
ic-hidden = "\ea2a"
ic-home = "\ea2b"
ic-horizontal-rule = "\ea2c"
ic-hourglass = "\ea2d"
ic-image = "\ea2e"
ic-images = "\ea2f"
ic-incognito = "\ea30"
ic-injection = "\ea31"
ic-inspect = "\ea32"
ic-issue = "\ea33"
ic-issue-closed = "\ea34"
ic-issue-reopened = "\ea35"
ic-joystick = "\ea36"
ic-key = "\ea37"
ic-keyboard = "\ea38"
ic-key-command = "\ea39"
ic-key-control = "\ea3a"
ic-key-option = "\ea3b"
ic-key-shift = "\ea3c"
ic-key-tab = "\ea3d"
ic-knob = "\ea3e"
ic-language = "\ea3f"
ic-layer-collapse = "\ea40"
ic-layer-expand = "\ea41"
ic-layers = "\ea42"
ic-left-right = "\ea43"
ic-lego = "\ea44"
ic-line = "\ea45"
ic-line-cap-butt = "\ea46"
ic-line-cap-projecting = "\ea47"
ic-line-cap-round = "\ea48"
ic-line-height = "\ea49"
ic-line-join-bavel = "\ea4a"
ic-line-join-miter = "\ea4b"
ic-line-join-round = "\ea4c"
ic-link = "\ea4d"
ic-list = "\ea4e"
ic-list-add = "\ea4f"
ic-list-check = "\ea50"
ic-list-clear = "\ea51"
ic-list-ordered = "\ea52"
ic-list-remove = "\ea53"
ic-list-unordered = "\ea54"
ic-list-update = "\ea55"
ic-lock = "\ea56"
ic-log-in = "\ea57"
ic-logo-airbnb = "\ea58"
ic-logo-amazon = "\ea59"
ic-logo-amp = "\ea5a"
ic-logo-android = "\ea5b"
ic-logo-angular = "\ea5c"
ic-logo-apple = "\ea5d"
ic-logo-aws = "\ea5e"
ic-logo-azure = "\ea5f"
ic-logo-beats = "\ea60"
ic-logo-behance = "\ea61"
ic-logo-bing = "\ea62"
ic-logo-bitbucket = "\ea63"
ic-logo-blender = "\ea64"
ic-logo-blogger = "\ea65"
ic-logo-bluetooth = "\ea66"
ic-logo-bootstrap = "\ea67"
ic-logo-box = "\ea68"
ic-logo-boxboat = "\ea69"
ic-logo-buffer = "\ea6a"
ic-logo-c = "\ea6b"
ic-logo-cardboard = "\ea6c"
ic-logo-cc = "\ea6d"
ic-logo-chrome = "\ea6e"
ic-logo-cloudflare = "\ea6f"
ic-logo-cloudnine = "\ea70"
ic-logo-code-mirror = "\ea71"
ic-logo-codepen = "\ea72"
ic-logo-codeship = "\ea73"
ic-logo-cpp = "\ea74"
ic-logo-cs = "\ea75"
ic-logo-css = "\ea76"
ic-logo-deviantart = "\ea77"
ic-logo-dicord = "\ea78"
ic-logo-digitalocean = "\ea79"
ic-logo-disqus = "\ea7a"
ic-logo-do = "\ea7b"
ic-logo-docker = "\ea7c"
ic-logo-dribbble = "\ea7d"
ic-logo-dropbox = "\ea7e"
ic-logo-drupal = "\ea7f"
ic-logo-ebay = "\ea80"
ic-logo-edge = "\ea81"
ic-logo-elastic-search = "\ea82"
ic-logo-evernote = "\ea83"
ic-logo-fb = "\ea84"
ic-logo-firefox = "\ea85"
ic-logo-flickr = "\ea86"
ic-logo-gdrive = "\ea87"
ic-logo-git = "\ea88"
ic-logo-github = "\ea89"
ic-logo-gitlab = "\ea8a"
ic-logo-gmail = "\ea8b"
ic-logo-go = "\ea8c"
ic-logo-google = "\ea8d"
ic-logo-google-cloud = "\ea8e"
ic-logo-google-earth = "\ea8f"
ic-logo-google-maps = "\ea90"
ic-logo-google-play = "\ea91"
ic-logo-google-plus = "\ea92"
ic-logo-google-translate = "\ea93"
ic-logo-heroku = "\ea94"
ic-logo-html = "\ea95"
ic-logo-icloud = "\ea96"
ic-logo-ie = "\ea97"
ic-logo-instragram = "\ea98"
ic-logo-itunes = "\ea99"
ic-logo-javascript = "\ea9a"
ic-logo-joomla = "\ea9b"
ic-logo-jsfiddle = "\ea9c"
ic-logo-json = "\ea9d"
ic-logo-linkedin = "\ea9e"
ic-logo-linode = "\ea9f"
ic-logo-linux = "\eaa0"
ic-logo-md = "\eaa1"
ic-logo-medium = "\eaa2"
ic-logo-messenger = "\eaa3"
ic-logo-meteor = "\eaa4"
ic-logo-minecraft = "\eaa5"
ic-logo-nfc = "\eaa6"
ic-logo-node = "\eaa7"
ic-logo-npm = "\eaa8"
ic-logo-office = "\eaa9"
ic-logo-onedrive = "\eaaa"
ic-logo-opera = "\eaab"
ic-logo-paypal = "\eaac"
ic-logo-periscope = "\eaad"
ic-logo-php = "\eaae"
ic-logo-pinterest = "\eaaf"
ic-logo-playstation = "\eab0"
ic-logo-polymer = "\eab1"
ic-logo-python = "\eab2"
ic-logo-r = "\eab3"
ic-logo-react = "\eab4"
ic-logo-recycle = "\eab5"
ic-logo-reddit = "\eab6"
ic-logo-rss = "\eab7"
ic-logo-safari = "\eab8"
ic-logo-sass = "\eab9"
ic-logo-skype = "\eaba"
ic-logo-slack = "\eabb"
ic-logo-slideshare = "\eabc"
ic-logo-snapchat = "\eabd"
ic-logo-soundcloud = "\eabe"
ic-logo-spoyify = "\eabf"
ic-logo-stackoverflow = "\eac0"
ic-logo-steam = "\eac1"
ic-logo-svg = "\eac2"
ic-logo-swift = "\eac3"
ic-logo-switch = "\eac4"
ic-logo-telegram = "\eac5"
ic-logo-text = "\eac6"
ic-logo-tumblr = "\eac7"
ic-logo-twitch = "\eac8"
ic-logo-twitter = "\eac9"
ic-logo-typescript = "\eaca"
ic-logo-uber = "\eacb"
ic-logo-ubuntu = "\eacc"
ic-log-out = "\eacd"
ic-logo-viber = "\eace"
ic-logo-vimeo = "\eacf"
ic-logo-vine = "\ead0"
ic-logo-vs = "\ead1"
ic-logo-whatsapp = "\ead2"
ic-logo-wikipedia = "\ead3"
ic-logo-windows = "\ead4"
ic-logo-wordpress = "\ead5"
ic-logo-xbox = "\ead6"
ic-logo-xml = "\ead7"
ic-logo-yahoo = "\ead8"
ic-logo-youtube = "\ead9"
ic-magnet = "\eada"
ic-mail = "\eadb"
ic-mail-forward = "\eadc"
ic-mail-reply = "\eadd"
ic-man = "\eade"
ic-map = "\eadf"
ic-margin = "\eae0"
ic-marker = "\eae1"
ic-marquee = "\eae2"
ic-marquee-corner = "\eae3"
ic-marquee-round = "\eae4"
ic-marquee-rounded = "\eae5"
ic-mask = "\eae6"
ic-masonry = "\eae7"
ic-medal = "\eae8"
ic-memo = "\eae9"
ic-mention = "\eaea"
ic-menu = "\eaeb"
ic-message = "\eaec"
ic-messages = "\eaed"
ic-meter = "\eaee"
ic-mic = "\eaef"
ic-mic-off = "\eaf0"
ic-mid-fold = "\eaf1"
ic-minus = "\eaf2"
ic-minus-small = "\eaf3"
ic-mirror = "\eaf4"
ic-mobile-android = "\eaf5"
ic-mobile-classic = "\eaf6"
ic-mobile-iphone = "\eaf7"
ic-modified = "\eaf8"
ic-more = "\eaf9"
ic-motion = "\eafa"
ic-mountain = "\eafb"
ic-music = "\eafc"
ic-newspaper = "\eafd"
ic-no-key = "\eafe"
ic-no-line-break = "\eaff"
ic-no-lock = "\eb00"
ic-notepad = "\eb01"
ic-null = "\eb02"
ic-opacity = "\eb03"
ic-options = "\eb04"
ic-orientation = "\eb05"
ic-outline = "\eb06"
ic-package = "\eb07"
ic-padding = "\eb08"
ic-palette = "\eb09"
ic-panel-bottom-close = "\eb0a"
ic-panel-bottom-collapse = "\eb0b"
ic-panel-bottom-expand = "\eb0c"
ic-panel-bottom-open = "\eb0d"
ic-panel-left-close = "\eb0e"
ic-panel-left-collapse = "\eb0f"
ic-panel-left-expand = "\eb10"
ic-panel-left-open = "\eb11"
ic-panel-right-close = "\eb12"
ic-panel-right-collapse = "\eb13"
ic-panel-right-expand = "\eb14"
ic-panel-right-open = "\eb15"
ic-panel-top-close = "\eb16"
ic-panel-top-collapse = "\eb17"
ic-panel-top-expand = "\eb18"
ic-panel-top-open = "\eb19"
ic-paper-clip = "\eb1a"
ic-parentheses = "\eb1b"
ic-paste = "\eb1c"
ic-pause = "\eb1d"
ic-pen = "\eb1e"
ic-pencil = "\eb1f"
ic-people = "\eb20"
ic-person = "\eb21"
ic-phone = "\eb22"
ic-phone-classic = "\eb23"
ic-phone-in = "\eb24"
ic-phone-loud = "\eb25"
ic-phone-missed = "\eb26"
ic-phone-out = "\eb27"
ic-phone-reject = "\eb28"
ic-pi = "\eb29"
ic-pill = "\eb2a"
ic-pin = "\eb2b"
ic-place = "\eb2c"
ic-play = "\eb2d"
ic-plug = "\eb2e"
ic-plus = "\eb2f"
ic-plus-small = "\eb30"
ic-polygon = "\eb31"
ic-poster = "\eb32"
ic-poster-wide = "\eb33"
ic-power = "\eb34"
ic-prescription = "\eb35"
ic-printer = "\eb36"
ic-pull-down = "\eb37"
ic-pull-left = "\eb38"
ic-pull-right = "\eb39"
ic-pull-up = "\eb3a"
ic-push-down = "\eb3b"
ic-push-left = "\eb3c"
ic-push-right = "\eb3d"
ic-push-up = "\eb3e"
ic-puzzle = "\eb3f"
ic-qr-code = "\eb40"
ic-quote-end = "\eb41"
ic-quote-start = "\eb42"
ic-radio-checked-empty = "\eb43"
ic-radio-checked-full = "\eb44"
ic-radio-empty = "\eb45"
ic-radio-full = "\eb46"
ic-radio-full-filled = "\eb47"
ic-read = "\eb48"
ic-rectangle = "\eb49"
ic-registered = "\eb4a"
ic-reload = "\eb4b"
ic-reload-auto = "\eb4c"
ic-repeat-all = "\eb4d"
ic-repeat-one = "\eb4e"
ic-repo = "\eb4f"
ic-repo-forked = "\eb50"
ic-restore = "\eb51"
ic-rewind = "\eb52"
ic-rice-bowl = "\eb53"
ic-right-left = "\eb54"
ic-robot = "\eb55"
ic-rocket = "\eb56"
ic-rotate = "\eb57"
ic-row = "\eb58"
ic-run = "\eb59"
ic-scanner = "\eb5a"
ic-script = "\eb5b"
ic-sections = "\eb5c"
ic-secure = "\eb5d"
ic-select-all = "\eb5e"
ic-send = "\eb5f"
ic-server = "\eb60"
ic-sharable = "\eb61"
ic-share = "\eb62"
ic-shield = "\eb63"
ic-shipping = "\eb64"
ic-shopping-cart = "\eb65"
ic-shuffle = "\eb66"
ic-skew-horizontal = "\eb67"
ic-skew-vertical = "\eb68"
ic-sliders-horizontal = "\eb69"
ic-sliders-vertical = "\eb6a"
ic-smiley-crosseyes = "\eb6b"
ic-smiley-evil = "\eb6c"
ic-smiley-face = "\eb6d"
ic-smiley-happy = "\eb6e"
ic-smiley-joy = "\eb6f"
ic-smiley-meh = "\eb70"
ic-smiley-mock = "\eb71"
ic-smiley-ninja = "\eb72"
ic-smiley-poop = "\eb73"
ic-smiley-sad = "\eb74"
ic-smiley-sideface = "\eb75"
ic-smiley-smile = "\eb76"
ic-smiley-sunglasses = "\eb77"
ic-sort-down = "\eb78"
ic-sort-up = "\eb79"
ic-spade = "\eb7a"
ic-spark = "\eb7b"
ic-spectacles-glasses = "\eb7c"
ic-spectacles-sunglasses = "\eb7d"
ic-spellcheck = "\eb7e"
ic-sqare-circle = "\eb7f"
ic-sqare-left = "\eb80"
ic-sqare-minus = "\eb81"
ic-sqare-plus = "\eb82"
ic-sqare-right = "\eb83"
ic-sqare-slash = "\eb84"
ic-star = "\eb85"
ic-star-full = "\eb86"
ic-star-half = "\eb87"
ic-stat = "\eb88"
ic-stethoscope = "\eb89"
ic-stop = "\eb8a"
ic-sync = "\eb8b"
ic-sync-auto = "\eb8c"
ic-tab = "\eb8d"
ic-table = "\eb8e"
ic-tag = "\eb8f"
ic-tags = "\eb90"
ic-target = "\eb91"
ic-terminal = "\eb92"
ic-text = "\eb93"
ic-text-align-center = "\eb94"
ic-text-align-left = "\eb95"
ic-text-align-right = "\eb96"
ic-text-area = "\eb97"
ic-text-bg = "\eb98"
ic-text-bold = "\eb99"
ic-text-case = "\eb9a"
ic-text-color = "\eb9b"
ic-text-indent = "\eb9c"
ic-text-italic = "\eb9d"
ic-text-justify = "\eb9e"
ic-text-justify-center = "\eb9f"
ic-text-justify-left = "\eba0"
ic-text-justify-right = "\eba1"
ic-text-outdent = "\eba2"
ic-text-paragraph = "\eba3"
ic-text-selection = "\eba4"
ic-text-strikethrough = "\eba5"
ic-text-subscript = "\eba6"
ic-text-superscript = "\eba7"
ic-text-symbol = "\eba8"
ic-text-underline = "\eba9"
ic-texture = "\ebaa"
ic-theme = "\ebab"
ic-three-bands = "\ebac"
ic-thumbs-down = "\ebad"
ic-thumbs-up = "\ebae"
ic-timer = "\ebaf"
ic-trademark = "\ebb0"
ic-translate = "\ebb1"
ic-tree = "\ebb2"
ic-tri-fold = "\ebb3"
ic-trophy = "\ebb4"
ic-umbrella = "\ebb5"
ic-ungroup = "\ebb6"
ic-up-down = "\ebb7"
ic-upload = "\ebb8"
ic-usb = "\ebb9"
ic-vibration = "\ebba"
ic-video = "\ebbb"
ic-visible = "\ebbc"
ic-voice-mail = "\ebbd"
ic-volume = "\ebbe"
ic-volume-down = "\ebbf"
ic-volume-high = "\ebc0"
ic-volume-low = "\ebc1"
ic-volume-mute = "\ebc2"
ic-volume-up = "\ebc3"
ic-vr = "\ebc4"
ic-wand = "\ebc5"
ic-watch = "\ebc6"
ic-widget = "\ebc7"
ic-wifi-off = "\ebc8"
ic-wifi-on = "\ebc9"
ic-win-close = "\ebca"
ic-win-cross = "\ebcb"
ic-win-dot = "\ebcc"
ic-window = "\ebcd"
ic-win-full = "\ebce"
ic-win-maximize = "\ebcf"
ic-win-minimize = "\ebd0"
ic-win-minus = "\ebd1"
ic-win-plus = "\ebd2"
ic-win-shrink = "\ebd3"
ic-win-unmaximize = "\ebd4"
ic-woman = "\ebd5"
ic-wrench = "\ebd6"
ic-z-fold = "\ebd7"
ic-zoom-in = "\ebd8"
ic-zoom-out = "\ebd9"

