
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: 'raleway' !important;

}



/* Container holding the image and the text */
.container {
  position: relative;
  font-family: 'raleway' !important;
  max-height: 450px;
  margin-top: 65px;
  width: 100%;

}

.container img{
  width: 100%;
  height: 450px;
}
/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 10px;
  right: 0px;
  left: 0px;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0, 0.9)); /* 52, 230, 255 Black background with 0.5 opacity rgb(0, 118, 255) */
  color: white;
  padding-left: 40px;
  padding-right: 20px;
  width: 60%;
  height: 70px;
  font-size: 25px;
 padding-bottom: 25px;
 margin-bottom: 10px;
}
/*responsive text box*/
@media screen and (max-width: 800px){
   .text-block{
margin-right: 0px;
    width: 100%;
}
}

.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  height: 250px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin-left: 0px;
margin-right: 0px}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  
  padding:5px 5px;
  text-align: justify;
  height: 230px;
  margin-bottom:5px;
  margin-top:5px;
  background-color: rgb(240, 240, 240)
  
}


/*responsive card and column*/
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 20px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 20px;
    margin-right: 100px;
  }
}
.card h2{
 font-family: 'Cantarell', sans-serif;
 text-align:center;
color:#008CBA;}


.headers {
  text-align: center;
  padding: 10px;
  background-color:rgba(0, 79, 255, 0.3);
  height: 90px;
  margin-top: 2px;
}

.rows {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columns {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columns img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columns {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columns {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}









