.calendar_card{
    background-color: rgb(168, 225, 230);

}

@media screen and (max-width: 500px){
	.calendar_card{
		 
		 margin-left: -18px;
		
	}
}
@media screen and (max-width: 340px){
	.calendar_card{
		 
		 margin-left: -26px;
		
	}
}