   
th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0275d8;
    color: white;

}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    
  }

td{
    text-align: left;
	padding: 8px 1px;
	width: 90px;
    text-align: center;
    background-color: #0275d8;
    color: white;
}

.times{
    background-color: #68E58A;
    color: black;
}

.slots{
    border: 1px solid #ddd;
}

.slots:hover{
    border: 2px solid rgb(255,244,102);
    cursor: pointer;
}

.slots:active{
    border: 2px solid rgb(22, 224, 197);
    background-color: skyblue;
}

.blocked:hover{
    cursor: default;
    border: 1px solid #ddd;
}

.label {
    color: white;
    padding: 8px;
}

.bookedlabel {background-color: #ff8c8c;} /* Red */
.vacantlabel {background-color: #ffffff;} /* Red */
.selectedlabel {background-color: rgb(40, 206, 206);} /* Red */

.date_time_display{
    padding-left: 60px;
    margin-left:auto;
}
