* {box-sizing: border-box}

/*set default base font */
html *
{
   
   font-family: 'Raleway' !important;
}

div.cover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../image/1111.jpg");
  width: 100%;
  height: 450px;
}

.container{  
        width: 70%;
        overflow: hidden;
        margin: auto;    
        font-size: 18px; 
        margin-top: 50px; 
        margin-bottom: 50px; 
        padding: 30px;
        border-radius: 5px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
} 

h1{  
    text-align: center;  
    color: black;  
    padding-bottom: 20px;
}  

/* custom hr */
hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Style labels */
label{  
    color: #008CBA;
    font-family: 'Segoe UI' !important;
    font-size: 18px;
    width: 130px;
    display: inline-block;
    margin: auto;
    margin-left: 10%;

}  
#user_name{  
    width: 60%;
    padding: 15px;
    margin: 5px 10px 22px 20px;
    display: inline-block;
    background: #f1f1f1;
    border-color: #1a66ff;
    border-width: 1px;
      
}  
#e-mail{  
    width: 60%;
    padding: 15px;
    margin: 5px 10px 22px 20px;
    display: inline-block;
    background: #f1f1f1;  
    border-color: #1a66ff;
    border-width: 1px;
}  

/* Style buttons */
.btn {
  position: relative;
  float: right;
  display: block;
  margin: 10px auto;
  /*padding: 0; */
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #1ABAFA;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #008CBA;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

/* Special round button */
.btn_round {
  padding: 5px 5px !important;
  border-radius: 50%;
  position: absolute;
  font-size: 150%;;
}

.btn.cancelbtn {
  background-color: #e67e22;
}

.btn.cancelbtn:hover, .btn.orange:focus {
  background-color: #d35400;
}
