
* {box-sizing: border-box}


/*set default base font */
html *
{  
  font-family: 'Raleway', sans-serif;
}


h1{
  color:white;
  text-align: center;
}
/*make h2s align center */

h2{
  color: #01447e;
  text-align: center;
}

.card_{
    background-color: rgb(148, 168, 255);
    padding: 70px 20px 40px 20px;
    height: 260px;
    margin: 40px 5% 62px 5%;
    font-size: larger;
    border-radius: 10px;
    border-color: rgb(5, 0, 70);
    border-width: 5px;
    border-style: double;
}
.list_table{
    justify-content:center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: left;
    border-radius: 6px;
    height: 100%;
    margin-left: 3%;
    background-color: #0275d8;
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
    width: 94%;
    margin-bottom: 50px;
}
/* @media screen and (max-width: 1270px){
  .list_table{
    width: 100%;
  }
} */
#table_ {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table_ td, #table_ th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_ tr:nth-child(odd){background-color: #ccffff;}    
#table_ tr:nth-child(even){background-color: #ffffff;}
#table_ tr:hover {background-color: #e6ffff;}

#table_ th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0275d8;
  color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}


.dateclmn{
  /*background-color: rgb(138, 231, 120);*/
  text-align: center;
  color: #080808;
  font-weight: bold;
} 

.status{
  text-align: center;
}

/* Set a style for the submit/register button */
.btn {
  position: relative;
  display: block;
  margin: 30px auto;
  /*padding: 0; */
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 5px;
  transition: background-color .3s;
}
  /* style the button when the mouse point move on */


.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn:disabled {
  background-color: #696969;
  color: #ecf0f1;
}

/* Special round button */
.btn_round {
  padding: 5px 5px !important;
  border-radius: 50%;
  position: absolute;
  font-size: 150%;;
}
.optionbtn{
  text-align: center;
  width: 30%;
  /* font-weight: bold; */
  font-size: large;
  color: #000080;
  margin: 1%;
  height: 70px;
  text-align: center;
  background-color: #4db8ff;
  box-shadow: 0 5px 5px rgba(60, 30, 230, 0.6);
}
.optionbtn:hover{
  background-color: #008CBA;
  color: #ffffff;
}

.select_buttons{
  display: flex;
  justify-content:center;
  justify-content:space-around;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .select_buttons {
    justify-content:center;
  }
  .optionbtn{
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .select_buttons {
    justify-content:center;
  }
}


.viewbtn{
  width: 80px;
  color: #01447e;
  background-color:#5bd6ff ;
  box-shadow: 0 3px 5px rgba(60, 30, 230, 0.6);
  cursor: pointer;
}

.updatelbtn{
  width: 80px;
  color: #01447e;
  background-color:#fca147 ;
  box-shadow: 0 3px 5px rgba(228, 112, 17, 0.884);
  cursor: pointer;
}

.deletebtn{
  width: 80px;
  color: #01447e;
  background-color: #f87070;
  box-shadow: 0 3px 5px rgba(236, 14, 14, 0.6);
  cursor: pointer;
}

.viewbtn:hover, .viewbtn:focus {
  background-color: #008CBA;
  color : #ffffff
}


.updatelbtn:hover, .updatelbtn:focus  {
  background-color: #ff8c1a;
  color : #ffffff
}

.deletebtn:hover, .deletebtn:focus  {
  background-color: #e90d0d;
  color : #ffffff
}  
  
/* Style the list */
ul.breadcrumb {
    padding: 15px 25px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: white;
  }
  @media screen and (max-width: 500px){
    ul.breadcrumb li {
   
    font-size: 14px;
    
  }
}
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "|\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
  }
/* add the background image for form */
.background{
  margin-top: 65px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/beps-image1.jpg");

 }
 /* Add padding to containers */
.container {
  height: 100%;
}

.label {
  color: white;
  padding: 8px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */
