
* {box-sizing: border-box}


/*set default base font */
html *
{  
  font-family: 'raleway' !important;
}


h1{
  color: white;
  text-align: center;
  margin-top: -10px;
  padding-bottom: 10px;
}
/*make h2s align center */

h2{
  color: #01447e;
  text-align: center;
}

p{
  text-align: center;
  color: white;
}

/* Style the list */
ul.breadcrumb {
    padding: 15px 25px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: white;
  }
  @media screen and (max-width: 500px){
    ul.breadcrumb li {
   
    font-size: 14px;
    
  }
}
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "|\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
  }
/* add the background image for form */
.background{
  margin-top: 65px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/beps-image1.jpg");

 }
 /* Add padding to containers */
.container {
  height: 100%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 20px 10px;
  height: 240px;
 
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  width: 65%;
  margin-left: 18%;
  margin-top: 0%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card1 {
  padding: 10px 10px;
  text-align: center;
  height: 180px;
  background-color: rgb(58, 118, 255, 0.2);
  border-radius: 3px;
}

.card2 {

  padding: 10px 10px;
  text-align: center;
  height: 180px;
  background-color: rgb(58, 118, 255, 0.2);
  border-radius: 3px;
}

.card3 {

  padding: 10px 10px;
  height: 180px;
  background-color: rgb(58, 118, 255, 0.2);
  border-radius: 3px;
}

.card4 {

  padding: 10px 10px;
  height: 180px;
  background-color: rgb(58, 118, 255, 0.2);
  border-radius: 3px;
}


.card1 h2 {
  color: #008CBA;
}

.card2 h2 {
  color: #008CBA;
}
.card3 h2 {
  color: #008CBA;
}
.card4 h2 {
  color: #008CBA;
}

/*responsive card and column*/
@media screen and (max-width: 1200px) {
.column {
  width: 100%;

  height: 250px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
}
@media screen and (max-width: 1200px) {
.card1,
.card2,
.card3,
.card4 {
  width: 100%;
   
  height: 250px;
  margin-bottom: 20px;
  
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
}

.overlay1 {
  position: relative;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
/*mouse hover overlay*/
.card1:hover .overlay1 {
  bottom: 0;
  height: 60%;
}
.card2:hover .overlay1 {
  bottom: 0;
  height: 60%;
}
.card3:hover .overlay1 {
  bottom: 0;
  height: 60%;
}
.card4:hover .overlay1 {
  bottom: 0;
  height: 60%;
}

.contents {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 15%;

/* 
  margin-left: auto;
  margin-right: right; */
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.label {
  color: white;
  padding: 8px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */
