* {
    box-sizing: border-box;
}


body {
    font-family: "Raleway" !important;
    margin: 0;
}
 .footer-wrapper{
      width: 100%;
      margin:15px 5px;

    }

    .single-footer{
      width: 25%;
      float: left;
      text-align: center;
      color: #fff;
      padding-left: 10px;

    }

    .single-footer ul{
      margin:0px;
      padding: 10px;
      list-style: none; 
    }
    .single-footer ul a{
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 12px;
    }
    .single-footer p{
      width: 90%;
       font-size: 15px;
    }
    .single-footer h4,h5 {
      color: #fff;
      font-size: 30px;
      font-family: 'raleway' !important;
      margin:0;
      font-weight: 200;
    }
    .single-footer h4 span{
      color: lightseagreen;
    }

    .single-footer img{
      width: 200px;
      height: 140px;
      padding: 30px 20px;
      margin-left: 0px;
    }
    .footer{
      width: 100%;
      height: 200px;
      position: relative;
      bottom: 0;
     margin-top: 20px;
      background-color:#262626; 
    }

    @media screen and (max-width: 800px) {
  .footer{
    width: 100%;
    margin-top: 3%;
    height: 900px;
    margin-bottom: 2%;
    display: block;
    padding-right: 10px;
    padding-bottom: 10px;

  }
}

 @media screen and (max-width: 800px) {
  .single-footer{
    width: 100%;
    margin-top: 2.5%;
    height: 200px;
    margin-bottom: 2%;
    display: block;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;

  }
}
@media screen and (max-width:800px){
  .single-footer p{
    padding-left: 20px;
  }
}