* {box-sizing: border-box}

/*set default base font */
html *
{  
  font-family: 'Raleway', sans-serif;
}

h1{
  color: #01447e;
}

p{
  font-size: larger;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (|) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "|\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
}

.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/1111.jpg");
  }

.card {
  justify-content:center;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: left;
  border-radius: 3%;
  height: 200%;
  margin-left: 25%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  max-width: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* align label */

label {
  display: inline-block;
  clear: left;
  width: 150px;
}

/* align label specifically for telephone numbers*/
label.tel{
  width: 120px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select {
  width: 50%;
  padding: 15px;
  margin: 5px 10px 22px 0px;
  display: inline-block;
  border-color: #1a66ff;
  border-width: 1px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=date]:focus, input[type=tel]:focus , select:focus {
  background-color: #ccddff;
}

/* Custom input fields to be able to add more vehicle nos*/
#vehicle_number{
  width: 20%;
}

/* custom hr */
hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* avatar image in login form */
.avatar{
  position: relative;
  width: 80%;				/* width of image (px or % or auto) */
  height: 80%;
}

/* Set a style for the submit/register button */
.btn {
  position: relative;
  float: right;
  display: block;
  margin: 30px auto;
  /*padding: 0; */
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #1ABAFA;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #008CBA;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Special round button */
.btn_round {
  padding: 5px 5px !important;
  border-radius: 50%;
  position: absolute;
  font-size: 150%;;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}


/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
h1 {
  text-align:center;
}

#form_content{
  margin: auto;
  width: 70%;
  padding: 10px;
  line-height: 60%;
}

.form_label{
  color: #008CBA;
  font-family: 'Segoe UI' !important;
}


.form_btn{
  position: absolute;
  right: 10px;
  top: 5px;
}
  
.registerbtn {
  background-color: #008CBA;
  color: white;
  right: 10px;
  top: 5px;
    
  border: 2px solid #008CBA;
}
.registerbtn:hover {
  background-color: white; 
  color: black;
}
.btn.cancelbtn {
  background-color: #e67e22;
}

.btn.cancelbtn:hover, .btn.orange:focus {
  background-color: #d35400;
}


/* Footer stuff */
.footer-wrapper{
  width: 100%; 
  margin:0 auto;
  padding-bottom: 0px;

}

.single-footer{
  width: 25%;
  float: left;
  text-align: left;
  color: #fff;
}

.single-footer ul{
  margin:0;
  padding: 0;
  list-style: none; 
}
.single-footer ul a{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.single-footer p, .icon{
  width: 90%;
  font-size: 15px;
  text-align: center;
  height: 20%;
  padding-right:1%;
}
.single-footer h2,h4 {
  color: #fff;
  font-size: 25px !important;
  font-family: 'Raleway', sans-serif !important;
  padding-top: 10%;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
}
.single-footer h4 span{
  color: lightseagreen;
}

.single-footer img{
  width: 80%;
  height: 150px;
  padding: 10% 5px 0px 5px; 
}
.footer{
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color:#262626; 
}