* {box-sizing: border-box}


/*set default base font */
body {
  margin: 0;
  
  font-family: 'raleway' !important;
}

h1{
  color: #01447e;
  text-align: center;
}

p{
  font-size: larger;
}
/* Add a blue text color to links */
a {
  color: black;
}

/* Style the list */
ul.breadcrumb {
    padding: 15px 25px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: white;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "|\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
  }
/* add the background image for form */
.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/log-b.jpg");

  }

  /* style the card in form */
.card {
  justify-content:center;
  padding-bottom: 10px;
  padding-top: 80px;
  text-align: left;
 margin-top: -20px;
  height: 100%;
  margin-left: 34%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.75));
  width: 550px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1050px){
  .card{
    margin-left: 25%;
    width: 50%;
    height: 100%;
padding-top: 100px;
  }
}
@media screen and (max-width: 600px){
  .card{
    margin-left: 15%;
    width: 70%;
    height: 100%;
     padding-top: 130px;
  }
}

/* Add padding to containers */
.container {
 margin-top: 65px;
 
}

/* align label */

#form_content{
  margin: 10%;
  width: 80%;
  padding: 10px;
  line-height: 60%;
  align-items: center;
}


.form_btn{
  position: relative;

}



}
.btn.cancelbtn {
  background-color: #d35400;
}

.btn.cancelbtn:hover, .btn.orange:focus {
  background-color: #d35400;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select {
  width: 60%;
  padding: 15px;
  margin: 15px 10px 22px 0px;
  display: inline-block;
  border-color: #1a66ff;
  border-width: 1px;
  background: #f1f1f1;
  margin-left: 20%;
}

@media screen and (max-width: 1050px){
  input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select{
    margin-left: 15%;

  }
}

@media screen and (max-width: 750px){
  input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select{
   width: 60%;
    margin-left: 15%;
  }
}


  /* add the background color to the input field */
input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=date]:focus, input[type=tel]:focus , select:focus {
  background-color: #ccddff;
}



/* avatar image in login form */
#avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;				/* width of image (px or % or auto) */
  height:200px;
}

/* Set a style for the submit/register button */
.btn {
  position: relative;
  float: right;
  display: block;
  margin: 30px auto;
  /*padding: 0; */
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  float: left;
  background-color: #1ABAFA;
  color: #ecf0f1;
  margin-left: 34%;
  width: 32%;
  transition: background-color .3s;
}
  /* style the button when the mouse point move on */
.btn:hover, .btn:focus {
  background-color: #008CBA;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn:disabled {
  background-color: #696969;
  color: #ecf0f1;
}

/* Special round button */
.btn_round {
  padding: 5px 5px !important;
  border-radius: 50%;
  position: absolute;
  font-size: 150%;;
}
