body {
    font-family: "Raleway" !important;
    margin: 0;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 500px;
  position: relative;
  margin-top: 65px;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

.mySlides img {
    width: 100%;
    height: 500px;
}

.text1 {

  position: absolute;
    /* Position the background text */
    top: : 0;
    /* At the bottom. Use top:0 to append it to the top */

    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0, .95));
    /* Black background with 0.95 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 50%;
    padding: 10px 35px;
    padding-top: 0px;   /* Some padding */
    height: 70px;
    margin-top: 30px;
    font-size: 15px;
}



/* Caption text */
.text2 {
  position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */

    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0, 1));
    /* Black background with 0.95 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 60%;
    padding: 0px 35px;
    padding-bottom: 25px;   /* Some padding */
    height: 70px;
    margin-bottom: 15%;
    font-size: 15px;
}

.text4 {
  position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */

    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0, 1));
    /* Black background with 0.95 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 50%;
    padding: 0px 35px;
    padding-bottom: 25px;   /* Some padding */
    height: 70px;
    margin-bottom: 15%;
    font-size: 15px;
}
/* Caption text */
.text3 {
  position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */

    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0, 1));
    /* Black background with 0.95 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 50%;
    padding: 0px 35px;
    
    padding-bottom: 25px;   /* Some padding */
    height: 70px;
    margin-bottom: 5%;
    font-size: 15px;
    
}

/*responsive text*/
@media screen and (max-width: 800px) {
  .text1,
  .text2,
  .text3,
  .text4 {
    width: 75%;
  
    height: 90px;
    display: block;
   
  }
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}


.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .1);
}



#navbar {
  height: 65px;
  background-image: linear-gradient(to right, rgb(250, 0, 0,0.7), rgb(0, 118, 255));
  position: fixed; /* Make it stick/fixed */
 top: 0;
  width: 100%; 
  transition: top 0.3s; 
}


/*description after the slideshow*/
.description {
    left: 50%;
    position: relative;
    height: 200px;
    top: 10px;
    transform: translate(-50%, 5%);
    text-align: center;
    width: 50%;

}

@media screen and (max-width: 800px){
  .description{
    width: 90%;
  }
}

/*responsive description header*/
@media screen and (max-width: 800px) {
  .description h1{
    width: 100%;
    margin-top: 10px;

  }
}
.description h1 {
    color: #007bff;
    font-family: "ho"
}

.description p {
    color: black;
    font-size: 1rem;
    line-height: 1.3;
    font-family: 'Raleway', important;
}


/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 20px 10px;
    height: 300px;
   
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin-left: 0px;
    margin-right: 0px
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card1 {

    padding: 10px 10px;
    text-align: center;
    height: 240px;
    margin-bottom: 5px;
    margin-top: 10px;
    /*background-image: linear-gradient(rgb(58, 118, 255, 0.2), rgb(58, 118, 255, 0.2)), url("output-onlinepngtools.png");*/
    /*background-color: rgb(58, 118, 255, 0.2);*/
    background-image: url("../images/home/output-onlinepngtools.png");
    border-radius: 3px;
}

.card2 {

    padding: 10px 10px;
    text-align: center;
    height: 240px;
    margin-bottom: 5px;
    margin-top: 10px;
    
   /* background-color: rgb(58, 118, 255, 0.2);*/
    background-image: url("../images/home/output-onlinepngtools (2).png");
    border-radius: 3px;
}

.card3 {

    padding: 10px 10px;
    text-align: center;
    height: 240px;
    margin-bottom: 5px;
    margin-top: 10px;
   
   /* background-color: rgb(58, 118, 255, 0.2);*/
    background-image: url("../images/home/output-onlinepngtools (3).png");
    border-radius: 3px;
}

.card4 {

    padding: 10px 10px;
    padding-right: 10px;
    text-align: center;
    height: 240px;
    margin-bottom: 5px;
    margin-top: 10px;

  /* background-color: rgb(58, 118, 255, 0.2);*/
    background-image: url("../images/home/output-onlinepngtools (4).png");
    border-radius: 3px;
}


.card1 h2 {
    color: #008CBA;
}

.card2 h2 {
    color: #008CBA;
}
.card3 h2 {
    color: #008CBA;
}
.card4 h2 {
    color: #008CBA;
}

/*responsive card and column*/
@media screen and (max-width: 1200px) {
  .column {
    width: 400px;
 
    height: 250px;
    display: block;
    margin-bottom: 20px;
  
     padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 1200px) {
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 400px;
     
    height: 250px;
    display: block;
    margin-bottom: 20px;
    
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
}






.overlay1 {
  position: relative;
  bottom: 0%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
/*mouse hover overlay*/
.card1:hover .overlay1 {
  bottom: 0;
  height: 70%;
}
.card2:hover .overlay1 {
  bottom: 0;
  height: 70%;
}
.card3:hover .overlay1 {
  bottom: 0;
  height: 70%;
}
.card4:hover .overlay1 {
  bottom: 0;
  height: 70%;
}
.contents {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
    height: 500px;
    padding-top: : 3px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 10px;
}



/* Fake image */
.fakeimg {
    background-image: url("../images/home/detailer-gives-finishing-fender.png");
    width: 100%;
    padding: 20px;
}

.fakeimg1 {
    background-image: url("../images/home/NRMA Car Service Experts.png");
    width: 100%;
    padding: 20px;
}


.

/* Parent Container */
.content_img {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

/* Child Text Container */
.content_img p {

    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 15px;
    margin-top: 1px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover {
    cursor: pointer;
}

.content_img:hover p {
    width: 100%;
    padding: -10px -10px;
    visibility: visible;
    opacity: 0.5;
}







/* Add a card effect for articles */
.cards {
    background-color: #fff;
    padding: 0;
    margin-top: 20px;
}


/* Clear floats after the columns */
.rows:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    position: relative;
    max-width: 1200px;
    /* Maximum width */
    margin: 10px auto;
    /* Center it */

}

 .content {
    position: absolute;
    /* Position the background text */
    top: 0;
    /* At the bottom. Use top:0 to append it to the top */

    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0, 0.9));
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 55%;
    /* Full width */
    padding: 10px;
    /* Some padding */
    padding-left: 20px;
}


/*left column content*/
 .content1 {
    position: absolute;
    /* Position the background text */
    top: 0;
    /* At the bottom. Use top:0 to append it to the top */

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7)), url("../images/home/bweb.jpg");
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 10px;
    /* Some padding */
    padding-left: 10px;
    text-align: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
        height: 50%;
        margin-bottom: 1%;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

#map {
    width: 340px;
    height: 255px;
}

/*map responsiveness*/
@media screen and (max-width: 1800px) {
  #map{
    width: 100%;

  }
  }
