* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway" !important;
}

/* put background image */
div.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/honda-malaysia-service-centre.jpg");
  width: 100%;
  height: 100%;

  margin-top: 65px;
  padding-top: 0px;
  height: 750px;
  padding-bottom: 50px;
  /* margin-bottom: 1px;*/
}

/* Style the list */
ul.breadcrumb {
  padding: 15px 25px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: white;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "|\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
}

h1 {
  text-align: center;
  color: black;
  margin-top: -15px;
}

/* custom hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

div.square {
  width: 100%;
  height: 480px;
  padding-left: 10px;
  margin-top: 30px;
  align-content: center;
  text-align: center;
  margin-bottom: -150px;
}

div.square div.square1 {
  margin-right: 0.5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 16%;
  height: 220px;
  float: left;
  /* background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));*/
  background-color: #3377ff;
  opacity: 0.8;
}

div.square div.square2 {
  margin-right: 0.5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 16%;
  height: 220px;
  float: left;
  /* background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));*/
  background-color: #99bbff;
  opacity: 0.8;
}

div.square div.square3 {
  width: 16%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 220px;
  float: left;
  margin-right: 0.5%;
  /* background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));*/
  background-color: #3377ff;
  opacity: 0.8;
}

div.square div.square4 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 16%;
  height: 220px;
  float: left;
  margin-right: 0.5%;
  /*background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));*/
  background-color: #99bbff;
  opacity: 0.8;
}

div.square div.square5 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 16%;
  height: 220px;
  float: left;
  margin-right: 0.5%;
  /*background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));*/
  background-color: #3377ff;
  opacity: 0.8;
}
div.square div.square6 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 16%;
  height: 220px;
  float: left;
  margin-right: 0.5%;
  /* background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));*/
  background-color: #99bbff;
  opacity: 0.8;
}

/* adjast the symbols*/
div.square i {
  margin-top: 20%;
}

/* stylying buttons */

div.square button {
  width: 100px;
  height: 40px;
  transition: 0.3s;
  font-family: "Raleway" !important;
  font-size: 95%;
  margin-top: 20%;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

/* button colors */
div.square4 button,
.square6 button,
.square2 button {
  background-color: #3377ff;
}

div .square1 button,
.square3 button,
.square5 button {
  background-color: #99bbff;
}

@media screen and (max-width: 1200px) {
  div.square4 button,
  .square6 button,
  .square2 button {
    background-color: #99bbff;
  }

  div .square1 button,
  .square3 button,
  .square5 button {
    background-color: #3377ff;
  }
}
/* 
.dropbtn {
  background-color: #3377FF;
  width: 100px;
  height: 40px;
  transition: 0.3s;
  font-family: 'Raleway' !important;  
  font-size: 95%;
  margin-top: 20%;
  border-radius: 6px;
  cursor: pointer;
}*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3377ff;
}

/* responsive square */
@media screen and (max-width: 1200px) {
  div.square {
    width: 100%;
  }

  div.square div.square1 {
    margin-right: 1%;
    margin-left: 16%;
    width: 35%;
    height: 35%;
    float: left;
    background-color: #99bbff;
    opacity: 0.8;
    margin-top: 1%;
  }
  div.square div.square2 {
    margin-right: none;
    width: 35%;
    height: 35%;
    float: left;
    background-color: #3377ff;
    opacity: 0.8;
  }

  div.square div.square3 {
    margin-top: 1%;
    margin-right: 1%;

    width: 35%;
    height: 35%;
    float: left;
    background-color: #99bbff;
    opacity: 0.8;
  }

  div.square div.square4 {
    margin-right: none;
    margin-top: 2%;
    width: 35%;
    height: 35%;
    float: left;
    margin-left: 8%;
    background-color: #3377ff;
    opacity: 0.8;
  }

  div.square div.square5 {
    margin-top: 2%;
    margin-right: 1%;

    width: 35%;
    height: 35%;
    float: left;
    background-color: #99bbff;
    opacity: 0.8;
  }
  div.square div.square6 {
    margin-right: none;
    margin-top: 1%;
    width: 35%;
    height: 35%;
    float: left;
    margin-left: 23%;
    background-color: #3377ff;
    opacity: 0.8;
  }
  div.square i {
    margin-top: 5%;
  }

  div.square button {
    margin-top: 10%;
    height: 30%;
  }
}

.map-container {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
}
@media screen and (max-width: 800px) {
  .map-container {
    width: 100%;
    display: block;
    margin-bottom: 200px;
  }
}
.row1 {
  margin-left: 0%;
  margin-bottom: -10px;
}
/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 15px 0px;
  padding-right: 20px;
  height: 200px;
  text-align: center;
  font-size: 20px;
}
.btn {
  /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  margin-bottom: 2px;
}

.info {
  background-color: #2196f3;
} /* Blue */
.info:hover {
  background: #0b7dda;
}

@media screen and (max-width: 800px) {
  .column {
    width: 50%;
  }
}
/*responsive raw1*/
@media screen and (max-width: 800px) {
  .raw1 {
    width: 10%;
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .chartContainer {
    margin-top: 230px;
    height: 150px;
  }
}
@media screen and (max-width: 800px) {
  .cover {
    height: 2500px;
  }
}
