* {box-sizing: border-box}

body  
{  
    font-family: 'Raleway' !important;  
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "|\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
}

h1{  
    text-align: center;  
    color: black;  
} 

/* custom hr */
hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* add background image */
div.cover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/6666.jpg");
  width: 100%;
  height: 730px;
}  

div.column{
	width: 70%;
	height: 600px;
	margin: auto;
	align-content: center;
	text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Raleway' !important;  

}

div.column div.column1{
	margin-right:1%;
	width: 30%;
	height: 600px;
	float: left;
	background-color: #3377FF;
  opacity : 0.8;
}

div.column div.column2{
	margin-right:1%;
	width: 38%;
	height: 600px;
	float: left;
}

div.column div.column3{
	width: 30%;
	height: 600px;
	float: left;
	background-color: #3377FF;
  opacity : 0.8;
}

div.column2 div.raw1{
  width: 100%;
  height: 295px;
  align-content: center;
  text-align: center;
}

div.raw1 div.subcolumn1{
  width: 49%;
  height: 295px;
  float: left;
  background-color: #99BBFF;
  opacity : 0.8;
  margin-right: 2%;
}

div.raw1 div.subcolumn2{
  width: 49%;
  height: 295px;
  float: left;
  background-color: #99BBFF;
  opacity : 0.8;
}

div.raw2{
  height: 295px;
  background-color: #3377FF;
  opacity : 0.8;
  float: left;
  width: 100%;
  margin-top: 10px; 
}

/* Styling Buttons*/
div.column button{
  margin: auto;
  width: 70%;
  height: 9%;
  transition: 0.3s;
  background-color: #F0F8FF; 
  font-family: 'Raleway' !important;  
  border-color: transparent;
  font-size: 17px;
}

button:hover{
  opacity: 0.6;
}

/* adjast the symbols*/
div.square i{
  margin-top: 50px;
}

/* Footer stuff */
.footer-wrapper{
  width: 100%; 
  margin:0 auto;
  padding-bottom: 0px;

}

.single-footer{
  width: 25%;
  float: left;
  text-align: left;
  color: #fff;
}

.single-footer ul{
  margin:0;
  padding: 0;
  list-style: none; 
}
.single-footer ul a{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.single-footer p, .icon{
  width: 90%;
  font-size: 15px;
  text-align: center;
  height: 20%;
  padding-right:1%;
}
.single-footer h2,h4 {
  color: #fff;
  font-size: 25px !important;
  font-family: 'Raleway', sans-serif !important;
  padding-top: 10%;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
}
.single-footer h4 span{
  color: lightseagreen;
}

.single-footer img{
  width: 80%;
  height: 150px;
  padding: 10% 5px 0px 5px; 
}
.footer{
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color:#262626; 
}
