* {box-sizing: border-box}

/*set default base font */
html *
{  

  
}
body {
  margin: 0;
  
  font-family: 'raleway' !important;
}
body, html {
  height: 100%;
}
h1{
  color: black;
  text-align: center;
  margin-top: -15px;
}

p{
  font-size: smaller;
  
 text-align: center;
}


/* Style the list */
ul.breadcrumb {
    padding: 15px 25px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: white;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "|\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
  }
.background{
  margin-top: 65px;
width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/pexels-oleg-magni-2058128.jpg");
/* Full height */
  height: 70%; 
  }
.container{
  

 width: 100%;
}

.card {
  justify-content:center;
  padding-bottom: 50px;
  padding-top: 40px;
  text-align: left;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  height: auto;
  margin-left: 31%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  max-width: 600px;
  padding-left: 1px;
  margin-right: 25%;
}

@media screen and (max-width: 900px){
  .card{
    margin-left: 10%;
    width:80%;
  }
}

/* Add padding to containers */
.container {
  height: 100%;
}

/* align label */

label {
  display: inline-block;
  clear: left;
  width: 140px;
  margin-left: 5%;
}



/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select {
  width: 230px;
  padding: 15px;
  margin: 5px 10px 22px 0px;
  display: inline-block;
  border-color: #1a66ff;
  border-width: 1px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=date]:focus, input[type=tel]:focus , select:focus {
  background-color: #ccddff;
}

@media screen and (max-width: 800px){
  input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select{
    margin-left: 2%;

  }
}

@media screen and (max-width: 750px){
  input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select{
   width: 200px;
    margin-left: 10px;
  }
}


/* custom hr */

/* Set a style for the submit/register button */
.btn {
  position: relative;
  float: right;
  display: block;
  margin: 30px auto;
  /*padding: 0; */
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #1ABAFA;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #008CBA;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Special round button */
.btn_round {
  padding: 5px 5px !important;
  border-radius: 50%;
  position: absolute;
  font-size: 150%;;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}


/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


#form_content{
  margin: auto;
  width: 90%;
  padding: 10px;
  line-height: 60%;
}

.form_label{
  color: #008CBA;
  
  margin-left: 1%;
}


.form_btn{
  position: absolute;
  right: 10px;
  top: 5px;

}
  
.btn.cancelbtn {
  background-color: #e67e22;
}

.btn:disabled {
  background-color: #696969;
  color: #ecf0f1;
}

.btn.cancelbtn:hover, .btn.orange:focus {
  background-color: #d35400;
}

/* login form picture*/

#form_content img{
margin-bottom: 5%;
margin-left: 25%;

width: 50%;
height: 50%;
}

/* experimental tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}