body{
	margin: 0px;
	padding: 0px;
	background: url(Car-Service-Guide-to-Find-The-Best-Automatic-Service-2.JPG) no-repeat;
	background-size: cover;
}

.signup-form{
	width: 300px;
	padding: 20px;
	text-align: center;
	background: rgba(101,102,114,0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	border-radius: 05px;
}

.signup-form img{
width: 50%;
height: 50%;
}

.signup-form input{
display: block;
width: 100%;
padding-left: 10px;
height: 44px;
box-sizing: border-box;
outline: none;
border: none;

}

.txt{
	margin: 20px 0px;
	border-radius: 05px;
}
