* {box-sizing: border-box}


/*set default base font */
body {
  margin: 0;
  
  font-family: 'raleway' !important;
}

h1{
  color: white;
  text-align: center;
  margin-top: -10px;
  padding-bottom: 10px;
}


a {
  color: black;
}

/* Style the list */
ul.breadcrumb {
    padding: 15px 25px;
    list-style: none;
    line-height: 30px;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: white;
  }
  @media screen and (max-width: 500px){
    ul.breadcrumb li {
   
    font-size: 14px;
    
  }
}
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "|\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
  }
  

p{
  font-size: larger;
}

/* add the background image for form */
.background{
  margin-top: 65px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/emp_view.jpg");

}


  /* style the card in form */
.card {
  justify-content:center;
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: left;
  border-radius:8px;
  margin-left: 25%;
  background-color: #94d3e7;
  opacity: 0.85;
  width: 50%;
  border-style: ridge;
  border-color: antiquewhite;
  border-width: 5px;
  border-color: #0d485a;
}

@media screen and (max-width: 1050px){
  .card{
    margin-left: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 700px){
    .card{
      margin-left: 0%;
      width: 100%;
    }
  }

/* Add padding to containers */
.container {
  padding: 16px;
  padding-top: 0px;
}

/* align label */

.form_label {
  display: inline-block;
  clear: left;
  width: 30%;
  line-height: 30px;
  
}

@media screen and (max-width: 1050px){
  .form_label{
    width: 28%;
    margin: 0px;
    
  }
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select {
  padding: 15px 0px 15px 10px;
  margin: 5px 0px 22px 0px;
  width: 50%;
  display: inline-block;
  background-color: #94d3e7;
  color: #120446;
  font-size: large;
  font-weight: 600;
  border-width: 0px;
}


@media screen and (max-width: 750px){
  input[type=text], input[type=password], input[type=email], input[type=date],input[type=tel] ,select{
    width: 170px;
    padding: 15px 0px 15px 0px;
    
  }
}



/* stile the horizontal lines */
hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* avatar image in login form */
#avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 256px;				/* width of image (px or % or auto) */
  height:256px;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
/* style the heading */
h1 {
  text-align:center;
}

#form_content{
  margin: 10%;
  width: 80%;
  padding: 10px;
  line-height: 60%;
  align-items: center;
}

.form_label{
  color: #120446;
  font-size: larger;
  font-weight: bolder;
}

.backbtn{
  background-color: #e67e22;
  width: 100px;
  height: 45px;
  float: left;
  text-align: center;
  padding: 15px;
  border-color: #e67e22; 
  border-style: solid;
  border-width: 2px;
  color: white;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
  box-shadow: 0px 3px 5px 0px   #572b00;
  transition: background-color .3s;
}
.backbtn:hover {
  background-color: #d35400;
}
.updatebtn{
  background-color: #008CBA;
  width: 100px;
  height: 45px;
  float: right;
  text-align: center;
  padding: 15px;
  border-color: #008CBA;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
  box-shadow: 0px 3px 5px 0px   #123541;
  transition: background-color .3s;
}
.updatebtn:hover {
  background-color: #126480;
}