#table_ {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table_ td, #table_ th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table_ tr:nth-child(odd){background-color: #b3c6ff;} 	 
  #table_ tr:nth-child(even){background-color: #ccccff;}
  #table_ tr:hover {background-color: #ddd;}
  
  #table_ th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0275d8;
    color: white;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
/* Set a style for the submit/register button */
.btn {
  position: relative;
  float: right;
  display: block;
  margin: 30px auto;
  /*padding: 0; */
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  transition: background-color .3s;
}
  /* style the button when the mouse point move on */


.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn:disabled {
  background-color: #696969;
  color: #ecf0f1;
}

/* Special round button */
.btn_round {
  padding: 5px 5px !important;
  border-radius: 50%;
  position: absolute;
  font-size: 150%;;
}

.viewbtn:hover, .viewbtn:focus {
  background-color: #008CBA;
  color : #ffffff
}


.updatelbtn:hover, .updatelbtn:focus  {
  background-color: #d35400;
  color : #ffffff
}

.deletebtn:hover, .deletebtn:focus  {
  background-color: #e90d0d;
  color : #ffffff
}
  